<% content_for :pagetitle do %>Dashboard<% end %>

<% content_for :pagehead do %>
<div class="content featured-content-grad">
	<div class="container">
		<div class="col6 merge-down under-right hide-on-mobile">
				<%= image_tag 'product.png', :class=> '' %>
		</div>
		<div class="col6 featured-content-textarea pull-right">
      <div class="featured-content-textarea-inner">
			   <h1>Measure better,<br>manage better</h1>
			   <p class="large-text">The Dashboard is the heart of Euclid Analytics. Track and compare key metrics for all your stores right from your web browser. </p>
      </div>
		</div>
	</div>
</div>
<% end %>


<div class="content featured-content-light no-pad">
  <div class="container">
  	<div class="subcontainer9 pull-right subsection">
  			<a href="../../img/product/KPI.png" title="Track KPIs" class="lightbox col3 no-hover separated"><%= image_tag 'product/KPI.png', :class=> 'shadowed fill-container' %>
          <%= image_tag 'easybox/magnify.png', :class=> 'magnify' %></a>
      <div class="col6 separated">
        <div class="sectionlabel">Track performance</div>
        <p>When you log into your Dashboard, you get a high-level overview of your KPI performance. You can customize this view to show you the stores and metrics that are most important to you.</p>
      </div>
  	</div>
  	<div class="subcontainer9 subsection pull-right">
  			<a href="../../img/product/funnel.png" title="Measure and compare" class="lightbox col3 no-hover separated"><%= image_tag 'product/funnel.png', :class=> 'shadowed fill-container' %>
          <%= image_tag 'easybox/magnify.png', :class=> 'magnify' %></a>
      <div class="col6 separated">
        <div class="sectionlabel">Measure and compare</div>
        <p>View detailed reports for every metric. For example, the Shopper Funnel report shows you how well you convert Outside Traffic into Engaged Visitors. Use it to identify weak points in your shopping experience.</p>
      </div>
  	</div>
  	<div class="subcontainer9 subsection pull-right">
        <a href="../../img/product/campaign.png" title="Make smarter decisions" class="lightbox col3 no-hover separated"><%= image_tag 'product/campaign.png', :class=> 'shadowed fill-container' %>
          <%= image_tag 'easybox/magnify.png', :class=> 'magnify' %></a>
  		<div class="col6 separated">
        <div class="sectionlabel">Make smarter decisions</div>
        <p>Built-in analysis tools reveal important insights without heavy lifting. Use the Test a Campaign tool to find out whether a lift in key metrics came from your activities or from everyday fluctuations.</p>
      </div>
  	</div>
    <div class="subcontainer9 subsection pull-right">
        <%= image_tag 'product/export.png', :class=> 'separated col3' %>
      <div class="col6">
        <div class="sectionlabel">Export and share</div>
        <p>Export Euclid metrics to your data warehouse for further analysis. Get reports sent to you automatically and share PDFs with your colleagues.</p>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
  	

  	<div class="subcontainer9 pull-right">
  		<h1 class="col9 no-bottom-marg">
  			Euclid metrics
  		</h1>
  		<div class="col9 large-text separated">We go beyond traffic counting to provide a more complete picture of what’s happening inside your stores. Here are just a few of the real-world metrics we provide:</div>

      <ul class="cluster-list how-section-list">


  			<li>
  				<div class="sectionlabel">Capture Rate</div>
  				<p>How well do your window displays pull customers into the store? Find out your Capture Rate and actively improve it. </p>
  			</li>
  			<li>
  				<div class="sectionlabel">Repeat Visitor Ratio</div>
  				<p>Are most of your shoppers regular customers or first-timers? Optimize for the segment that drives the most sales.</p>
  			</li>
  			<li>
  				<div class="sectionlabel">Walkbys</div>
  				<p>How much business is walking right by the door? Launch your sales on the days with the highest Walkby traffic.</p>
  			</li>
  			<li class="newrow">
  				<div class="sectionlabel">Visit Duration</div>
  				<p>How long do your customers spend in the store? Are they engaging with staff or waiting in line?</p>
  			</li>
  			<li>
  				<div class="sectionlabel">Visit Frequency & Recency</div>
  				<p>How often do customers come in the door each month? Are your daily deals generating loyal customers?</p>
  			</li>

      </ul>

  	</div>



  </div>
</div>