<% content_for :pagehead do %>
<div class="content featured-content-grad">
	<div class="container">
		<div class="col7 merge-down">
				<%= image_tag 'product.png' %>
		</div>
		<div class="col5">
			<h1>Measure better, manage better</h1>
			<p>The Dashboard is the heart of Euclid Analytics. This is where you can track key metrics, compare performance across stores, regions, and time, and evaluate the impact of your activities. </p>
		</div>
	</div>
</div>
<% end %>


<div class="content featured-content-light no-pad">
  <div class="container">
  	<div class="subcontainer9 pull-right subsection">
  		<div class="col3 separated">
  			<h3>Track KPIs</h3>
  			<p>When you log into your Dashboard, you get a high-level overview of your KPI performance. You can customize this view to show you the stores and metrics that are most important to you.</p>
  		</div>
  		<div class="col6">
  			<a href="../../img/product/KPI.png" title="Image caption" class="lightbox"><%= image_tag 'product/KPI.png', :class=> 'shadowed' %></a>
  		</div>
  	</div>
  	<div class="subcontainer9 subsection pull-right">
  		<div class="col3 separated">
  			<h3>Measure and compare</h3>
  			<p>View detailed reports for every metric. For example, the Shopper Funnel report shows you how well you convert Outside Traffic into Engaged Visitors. Follow the funnel left to right and identify weak points in your shopping experience.</p>
  		</div>
  		<div class="col6">
  			<%= image_tag 'product/funnel.png', :class=> 'shadowed' %>
  		</div>
  	</div>
  	<div class="subcontainer9 subsection pull-right">
  		<div class="col3 separated">
  			<h3>Make smarter decisions</h3>
  			<p>Built-in analysis tools highlight important insights without heavy lifting. The Test a Campaign tool, which harnesses powerful predictive analytics, can tell you if a boost in key metrics came from your activities or resulted from everyday fluctuations.</p>
  		</div>
  		<div class="col6">
  			<%= image_tag 'product/campaign.png', :class=> 'shadowed' %>
  		</div>
  	</div>
    <div class="subcontainer9 subsection pull-right">
      <div class="col3">
        <h3>Export and share</h3>
        <p>Export Euclid metrics to your data warehouse for further analysis. Get reports sent to you automatically and share PDFs with your colleagues.</p>
      </div>
      <div class="col6">
        <%= image_tag 'product/campaign.png', :class=> 'shadowed' %>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
  	

  	<div class="subcontainer9 pull-right">
  		<div class="col9 sectionlabel">
  			Metrics
  		</div>
  		<h3 class="col9 separated">Euclid Analytics goes beyond traffic counting to provide a more complete picture of what’s happening inside your stores. Here are just a few of the real-world shopper metrics we provide:</h3>
  		<div class="colgroup separated">
  			<div class="col3">
  				<div class="sectionlabel">Capture Rate</div>
  				<p>How well do your window displays pull customers into the store? Find out your Capture Rate and actively improve it. </p>
  			</div>
  			<div class="col3">
  				<div class="sectionlabel">Repeat Visitor Ratio</div>
  				<p>Are most of your shoppers regular customers or first-timers? Optimize for the segment that drives the most sales.</p>
  			</div>
  			<div class="col3">
  				<div class="sectionlabel">Walkbys</div>
  				<p>How much business is walking right by the door? Launch your sales on the days with the highest Walkby traffic.</p>
  			</div>
  		</div>
  		<div class="colgroup separated">
  			<div class="col3">
  				<div class="sectionlabel">Visit Duration</div>
  				<p>How long do your customers spend in the store? Are they engaging with staff or waiting in line?</p>
  			</div>
  			<div class="col3">
  				<div class="sectionlabel">Visit Frequency & Recency</div>
  				<p>How often do customers come in the door each month? Are your daily deals generating loyal customers?</p>
  			</div>
  		</div>


  	</div>



  </div>
</div>