<% content_for :pagetitle do %>Euclid for Department Stores<% end %>
<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		<div  class="col9 separated">
	  		<h1>
	  			For Department Stores
	  		</h1>
	  		<p class="large-text">Zone-level analytics deliver a comprehensive view of the store.</p>
	  	</div>

	  	<div class="col9 separated">
		  	<div class="underlined sectionlabel">Benefits</div> 
				<ul class="no-bullet">
					<li>All standard metrics, including traffic, visit duration, and bounce</li>
					<li>Detailed path analysis and unlimited zones, by department and floor</li>
					<li>Runs on in-store Wi-Fi or dedicated sensors</li>
					<li>Full data export, premium support, and custom analysis</li>
				</ul>
			</div>
  		<div  class="col9 separated">
  			<div class="underlined sectionlabel">Overview</div> 
				<p>Anchor stores are ecosystems. Euclid’s foot-stream data and zone-level analytics provide a comprehensive view of department stores and other large-format retail locations. Identify underperforming departments and improve operational efficiency. Easily integrate Euclid performance metrics with your existing dashboards and BI tools.</p>
				
				<p class="center-in-grid"><%= image_tag 'product/qsr_dept_spec.png', :height=>"200" %></p>
			</div>
			<div class="col9 underlined sectionlabel">INSIGHTS</div>
  		<ul class="cluster-list no-bottom-marg">
	  		<li><%= image_tag 'solutions/ops-3.png', :class=> 'insights-img shadowed' %><b>How much labor should I put on the floor?</b><br/><br/>Look at shopper minutes per hour to identify the most congested times of the day.</li>
	  		<li><%= image_tag 'solutions/merch-3.png', :class=> 'insights-img shadowed' %><b>How often should I refresh my in-store displays?</b><br/><br/> A significant decline in Visit Duration could mean it’s time for a new look.</li>
	  		<li><%= image_tag 'solutions/ops-1.png', :class=> 'insights-img shadowed' %><b>Are my outlets cannibalizing from my mainline stores?</b><br/><br/>Euclid’s exclusive cross-shopping analysis tells you how many customers shop at both kinds of stores in the same month.</li>
	  	</ul>
    	<div  class="col9 separated">
  	  	<h1> From $199 per month per store.</h1>
  	  	<p class="large-text">Ready to learn more?</p>
  	  	<p class="clearfix"><%= link_to_signupsite('contact_us', 'Contact Us', 'btn dark-btn clearfix') %></p>
  	  </div>
  	</div>
  	
  </div>
</section> 
