<% content_for :pagetitle do %>Our Product<% end %>
<% content_for :pagehead do %>
<div class="content featured-content-light">
  <div class="container">
    <div class="col9 featured-content-textarea pull-right">
      <div class="featured-content-textarea-inner">
        <h1>Euclid Analytics delivers <br/> answers for retail</h1>
        <p class="large-text">Measure and optimize foot-traffic, visit duration, and repeat shopping. Get answers by daypart (for QSR), window and walkbys (specialty retail) and multi-zones (department stores).</p>


        <ul class="icon-button-list">
          <li><%= link_to 'Solutions', '/product/solutions.html', :id=>'solutionsbtn' %></li>
          <li><%= link_to 'Dashboard', '/product/dashboard.html', :id=>'dashboardbtn' %></li>
          <li><%= link_to 'How It Works', '/product/how.html', :id=>'howbtn' %></li>
          <!--<li><%= link_to 'Setup', '/product/setup.html', :id=>'setupbtn' %></li>-->
          <li><%= link_to 'Security', '/product/security.html', :id=>'securitybtn' %></li>
        </ul>
      </div>

    </div>
  </div>
</div>
<% end %>



<script type="text/javascript">
  $('.tab-link').click(function(){
    $('.tab-link').removeClass('selected');
    $(this).addClass('selected');
    $("#tabs > li").addClass('hide');
    $("#" + $(this).attr('data-target')).removeClass('hide');
  })
</script>

