<% content_for :pagetitle do %>Euclid for quick service restaurants QSR<% end %>
<% content_for :pagehead do %>
<% content_for :pagetitle do %>Answers and insights for QSR, specialty retail, and department stores<% end %>
<div id="banner-qsr-holder" class="banner-slider-holder">
	<div class="content featured-content-light banner" id="banner-qsr-next"></div>
	<div class="content featured-content-light banner" id="banner-qsr-cur"></div>
</div>
<div class="content featured-content-light banner" id="banner-qsr">
	<div class="container">
		<div class="subcontainer6 featured-content-textarea pull-right">
			<div class="featured-content-textarea-inner">
				<h1 class="light-text">For QSR – quick service restaurants</h1>
				<p class="large-text">Maximize your customer throughput at peak and by daypart</p>
			</div>
		</div>
	</div>
</div>

<% end %>
	
<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		

	  	<div class="col9 separated">
		  	<div class="underlined sectionlabel">Benefits</div> 
				<ul class="no-bullet">
					<li>&bull; All standard Euclid metrics, including traffic, visit duration, and bounce</li>
					<li>&bull; Walkby traffic and conversion, chain and brand loyalty, all by daypart</li>
					<li>&bull; Runs on your existing in-store Wi-Fi or on Euclid dedicated sensors</li>
					<li>&bull; Full data export, premium support, and custom analysis</li>
				</ul>
			</div>
  		<div  class="col9 separated">
  			<div class="underlined sectionlabel">Overview</div> 
				<p>Euclid helps quick-service restaurant operators assess same-store and chain-wide demand by daypart. Align your labor costs with customer traffic to increase profits. Our QSR analytics help you maximize customer throughput and satisfaction. Euclid is easy to deploy across all your locations and integrates seamlessly with your existing BI tools.</p>
			</div>
			<div class="col9 underlined sectionlabel">INSIGHTS</div>
	  	<ul class="cluster-list no-bottom-marg">
		  		<li><a href="../case-studies/case_study_philz_coffee.pdf"><%= image_tag 'solutions/ops-3.png', :class=> 'insights-img shadowed' %></a><b>Coffee chain Philz Coffee uses Euclid to tailor store layout and maximize throughput.</b><br/><br/><%= link_to "Read the case study", "../case-studies/case_study_philz_coffee.pdf" %>
		  		</li>
		  		<li><a href="../case-studies/qsr_loyalty.pdf"><%= image_tag 'solutions/marketing-3.png', :class=> 'insights-img shadowed' %></a><b>Restaurant chain uses Euclid to measure ROI on customer loyalty.</b><br/><br/><%= link_to "Read the case study", "../case-studies/qsr_loyalty.pdf" %>
		  		</li>
		  		<li><a href="../case-studies/qsr_breakfast.pdf"><%= image_tag 'solutions/merch-1.png', :class=> 'insights-img shadowed' %></a><b>QSR uses Euclid to increase breakfast revenues.</b><br/><br/><%= link_to "Read the case study", "../case-studies/qsr_breakfast.pdf" %>
</li>		  		
		  </ul>
		  <div  class="col9 separated">
  	  	<h1> From $39 per month per store.</h1>
  	  	<p class="large-text">Ready to learn more?</p>
  	  	<p class="clearfix"><%= link_to_signupsite('contact_us', 'Contact Us', 'btn dark-btn clearfix') %></p>
  	  </div>
	  </div>
  </div>
</section> 
