<% content_for :pagetitle do %>Solutions<% end %>
<% content_for :pagehead do %>
<div class="content featured-content-grad banner marketing-tab" id="banner-solutions">
  <div class="container">
    <div class="subcontainer6 featured-content-textarea pull-right">
      <div class="featured-content-textarea-inner">
        <h1 class="">From the sales floor to the boardroom</h1>
        <p class=" large-text">Euclid Analytics can help you evaluate the effectiveness of your activities, identify best practices, and eliminate unnecessary costs. Here are some of the questions that Euclid Analytics helps you answer:</p>

      </div>
    </div>
    <div class="subcontainer9 pull-right">
        <nav class="featured-content-nav">
          <a id="marketing-tab-link" data-target="marketing-tab" class="subcontainer3 tab-link btn selected">Marketing</a>
          <a id="merchandising-tab-link" data-target="merchandising-tab" class="subcontainer3 tab-link btn">Merchandising</a>
          <a id="operations-tab-link" data-target="operations-tab" class="subcontainer3 tab-link btn">Operations</a>
        </nav>
      </div>
  </div>
</div>
<% end %>


<div class="content">
  <div class="container">
    <ul id="tabs" class="subcontainer9 pull-right">
      <li id="marketing-tab">
        <ul>
          <li class="colgroup separated ">
            <%= image_tag 'solutions/marketing-1.png', :class=> 'col3 shadowed' %>
            <div class="col6">Did my marketing promotion really increase store traffic? Or was it the result of macro factors outside the store? WIth Outside Traffic and Capture Rate metrics, you can judge whether your actions made a difference.</div>
          </li>
          <li class="colgroup separated ">
            <%= image_tag 'solutions/marketing-2.png', :class=> 'col3 shadowed' %>
            <div class="col6">Are my direct mail campaigns encouraging repeat traffic? Check the Repeat Visit Ratio of your stores to see if you’re increasing the share of repeat customer visits.</div>
          </li>
          <li class="colgroup separated ">
            <%= image_tag 'solutions/marketing-3.png', :class=> 'col3 shadowed' %>
            <div class="col6">How loyal are my existing customers? Use the distribution of Visit Frequency and Visit Recency to segment your customers.</div>
          </li>
        </ul>
      </li>
      <li id="merchandising-tab" class="hide">
        <ul>
          <li class="colgroup separated ">
            <%= image_tag 'solutions/merch-1.png', :class=> 'col3 shadowed' %>
            <div class="col6">Are my window displays effectively drawing shoppers into the store? Compare the Capture Rate before and after installing the display</div>
          </li>
          <li class="colgroup separated ">
            <%= image_tag 'solutions/merch-2.png', :class=> 'col3 shadowed' %>
            <div class="col6">Do my floor sets engage customers as soon as they walk in the store? Check your Engagement Rate and Bounce Rate, which tell you whether customers are sticking around or walking away.</div>
          </li>
          <li class="colgroup separated ">
            <%= image_tag 'solutions/merch-3.png', :class=> 'col3 shadowed' %>
            <div class="col6">How often should I refresh my in-store displays? A significant decline in Visit Duration could mean it’s time for a new look.</div>
          </li>
        </ul>
      </li>
      <li id="operations-tab" class="hide">
        <ul>
          <li class="colgroup separated ">
            <%= image_tag 'solutions/ops-1.png', :class=> 'col3 shadowed' %>
            <div class="col6">Are my outlets cannibalizing from my mainline stores? Euclid’s exclusive cross-shopping analysis tells you how many customers shop at both kinds of stores in the same month.</div>
          </li>
          <li class="colgroup separated ">
            <%= image_tag 'solutions/ops-2.png', :class=> 'col3 shadowed' %>
            <div class="col6">Should I extend my business hours? The Walkby metric tells you how many people pass by the store after hours, so you can see if you’re missing out on potential business.</div>
          </li>
          <li class="colgroup separated ">
            <%= image_tag 'solutions/ops-3.png', :class=> 'col3 shadowed' %>
            <div class="col6">How much labor should I put on the floor? Look at shopper minutes per hour to identify the most congested times of the day.</div>
          </li>
          <li class="colgroup separated ">
            <%= image_tag 'solutions/ops-4.png', :class=> 'col3 shadowed' %>
            <div class="col6">How much does seasonality affect my business? Don’t just measure traffic trends - look at the seasonal effect on Visit Duration, Visit Frequency, and Outside Traffic. </div>
          </li>
        </ul>
      </li>
    </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.tab-link').click(function(){
    $('.tab-link').removeClass('selected');
    $(this).addClass('selected');
    $("#tabs > li").addClass('hide');
    $("#" + $(this).attr('data-target')).removeClass('hide');
    $("#banner-solutions").removeClass("marketing-tab").removeClass("merchandising-tab").removeClass("operations-tab").addClass($(this).attr('data-target'));

  })
</script>

