<% content_for :pagetitle do %>Euclid for specialty retail<% end %>
<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		<div  class="col9 separated">
	  		<h1>
	  			For Specialty Retail
	  		</h1>
	  		<p class="large-text">Drive higher same-store sales and profit per square foot</p>
	  	</div>

	  	<div class="col9 separated">
		  	<div class="underlined sectionlabel">Benefits</div> 
				<ul class="no-bullet">
					<li>All standard metrics, including traffic, visit duration, and bounce</li>
					<li>Walkby traffic and window conversion, tied to your marketing calendar</li>
					<li>Runs on in-store Wi-Fi or dedicated sensors</li>
					<li>Full data export, premium support, and custom analysis</li>
				</ul>
			</div>
  		<div  class="col9 separated">
  			<div class="underlined sectionlabel">Overview</div> 
				<p>Euclid delivers answers tailor-made for specialty retailers, including window conversion and walk-by traffic. Discover new ways to increase sales productivity, marketing ROI, and profit per square foot. Deploy in days across all your locations and get personal support and custom analysis.</p>
				
				<p class="center-in-grid"><%= image_tag 'product/zero.png', :height=>"200" %></p>
			</div>
			<div class="col9 underlined sectionlabel">INSIGHTS</div>
  		<ul class="cluster-list no-bottom-marg">
	  		<li><%= image_tag 'solutions/marketing-2.png', :class=> 'insights-img shadowed' %><b>A leading national retailer used Euclid to increase comp-store sales and ROI from their direct mail campaigns.</b><br/><br/><%= link_to "Read the case study", "../case-studies/Marketing_ROI_Whitepaper_061213.pdf" %>.</li>
			<li><%= image_tag 'solutions/merch-1.png', :class=> 'insights-img shadowed' %><b>Are my window displays effectively drawing shoppers into the store?</b><br/><br/>Compare the Window Conversion Rate before and after installing the display.
</li>
	  		<li><%= image_tag 'solutions/merch-2.png', :class=> 'insights-img shadowed' %><b>Do my floor sets engage customers as soon as they walk in the store?</b><br/><br/> Check your Engagement Rate and Bounce Rate, which tell you whether customers are sticking around or walking away.
</li>
	  		
	  	</ul>
  		<div  class="col9 separated">
		  	<h1> From $99 per month per store.</h1>
		  	<p class="large-text">Ready to learn more?</p>
		  	<p class="clearfix"><%= link_to_signupsite('contact_us', 'Contact Us', 'btn dark-btn clearfix') %></p>
	  	</div>
	  </div>
  </div>
</section> 
