<% content_for :pagetitle do %>Euclid analytics technology for retail<% end %>
<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">


  		<div  class="col9 separated">
	  		<h1>
	  			Easy to implement and scale
	  		</h1>
	  		<p class=" large-text">Euclid Analytics is the easiest way to measure visits, engagement, and loyalty in your stores.</p>
	  		<p>Our plug-and-play sensor installs in two minutes - just connect power and internet. Each sensor is the size of a deck of cards and covers up to 24,000 square feet.</p>
				<p>If you have existing in-store Wi-Fi from Aruba, Aerohive, CISCO, Fortinet, Meraki, Ruckus, Xirrus, or other leading providers, you can <%= link_to 'turn your existing access points into Euclid sensors', '/product/zero/' %> with the push of a button.</p>
				<p>Once your sensors are up and running, you can view reports for all your locations in our <%= link_to 'easy-to-use web Dashboard', '/product/dashboard/' %>.</p>
				<p class="large-text">Take a closer look at how our technology works:</p>
	  	</div>
  		<div class="col3 hide-on-mobile">
  			<%= image_tag 'howitworks_flow.png' %>
  		</div>
  		<ul class="col6 pull-right how-section-list">

  			<li>
	  			<div class="sectionlabel">Euclid gives you key insights for your physical stores</div>
					<p>Euclid senses smartphones and lets you see how shoppers flow through your store, their visit duration, and return shopping patterns.</p>
				</li>
				<li>
					<div class="sectionlabel">Smartphones broadcast anonymous Wi-Fi pings</div>
					<p>Smartphones send out short "pings" as they search for Wi-Fi networks nearby. These pings include the phone's MAC address (a unique string of letters and numbers), signal strength and other non-personally identifiable information.</p>
				</li>
				<li>
					<div class="sectionlabel">Euclid records Wi-Fi pings and sends them to the cloud</div>
					<p>Using your existing Wi-Fi infrastructure or our compact plug-and-play sensor, we record pings and send them to the cloud. For privacy, we scramble each MAC address using a one-way hashing algorithm.</p>
				</li>
				<li>
					<div class="sectionlabel how-section">Euclid processes and stores data</div>
					<p>Our advanced heuristics extract actionable insights from the data and store them in Amazon's highly secure datacenters.<br><%= link_to 'Learn about our security practices', '/product/security/' %></p>
				</li>
				<li> 
					<div class="sectionlabel how-section">Retailer receives analytics via web and email</div>
					<p>Use our web-based Dashboard and scheduled email reports to measure and optimize your business.</p>
				</li>
  		</ul>
  		<div class="col9 separated"> 
        <h1 class="">Works securely within your<br>existing network infrastructure</h1>
  		  <p class="large-text">Euclid Analytics is built securely from the ground up, protecting both your business and your shoppers.</p>
      </div>
	  	<ul class="cluster-list light-underlined underlined separated how-section-list">
	  		<li>
	  			<div class="sectionlabel">MAC address hashing</div>
  				<p>Each phone’s MAC address is scrambled with a one-way hash to create a separate unique ID.</p>
  			</li>
	  		<li>
	  			<div class="sectionlabel">Encrypted data transmission</div>
  				<p> Data is sent to Amazon Web Services (AWS) using  Secure Sockets Layer (SSL) encryption.</p>
  			</li>
	  		<li>
	  			<div class="sectionlabel">Secure data storage</div>
  				<p> Information is stored in Amazon’s highly secure datacenters</p>
  			</li>
	  		<li class="newrow">
	  			<div class="sectionlabel">Limited employee access</div>
  				<p> We use technical and policy controls to prohibit unauthorized access.</p>
  			</li>
	  		<li>
	  			<div class="sectionlabel">Maintains PCI compliance</div>
  				<p>Our sensors do not collect cardholder data or impact the topology of your secure network.</p>
  			</li>
	  	</ul>
		<div class="large-text col9">
			Euclid is committed to protecting the individual privacy of shoppers. For more information, visit our <%= link_to 'Privacy Overview', '/privacy/' %>.
		</div>

		</div>  	
  </div>
</section> 
