<% content_for :pagetitle do %>Euclid Zero<% end %>
<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		<div  class="col9 separated">
	  		<h1>
	  			Insights from your in-store Wi-Fi
	  		</h1>
	  		<p class="large-text">Euclid Zero delivers real-world shopper analytics with zero additional hardware.</p>
	  	</div>

	  	<div class="col9 separated">
		  	<div class="underlined sectionlabel">Benefits</div> 
				<ul class="no-bullet">
					<li>Get Euclid Analytics without dedicated sensors</li>
					<li>Works with top enterprise Wi-Fi providers</li>
					<li>Eliminates installation hassle and cost</li>
					<li>Free standard analytics for Aerohive customers</li>
				</ul>
			</div>
  		<div  class="col9 separated">
  			<div class="underlined sectionlabel">Overview</div> 
				<p>Looking to measure shopping activity across your entire chain, but daunted by the prospect of installing and configuring hardware at hundreds of locations? Euclid Zero is the answer. With a single click, Euclid Zero gives retailers, malls, and other venues customer insights and answers from their existing Wi-Fi access points.</p>
				
				<p class="center-in-grid"><%= image_tag 'product/zero.png', :height=>"200" %></p>

				<p>Euclid Zero eliminates the need for dedicated sensors, costly in-store installation, or complicated setup. Simply enable the Euclid functionality in your Wi-Fi management console to start sending data to Euclid for analysis. Once enabled, retailers can access actionable insights for improving shopper engagement, loyalty, and revenue, all through an easy-to-use web-based dashboard.</p>
				
				<p>Aerohive customers receive free lifetime access to standard Euclid metrics like traffic counts, visit duration, and bounce rate. Upgrade anytime to our <%= link_to 'premium plans', '/pricing/' %> for expanded insights and enhanced support.</p>


			</div>
			<div class="col9 underlined sectionlabel">WI-FI PARTNERS</div>
	  		<ul class="cluster-list large-text no-bottom-marg">
		  		<li><a href="http://www.aerohive.com/" target="_blank"><%= image_tag 'partners/aerohive.png', :class=>'fill-container' %></a></li>
		  		<li><a href="http://www.arubanetworks.com/" target="_blank"><%= image_tag 'partners/aruba.png', :class=>'fill-container', :style=>"padding-top: 25px;" %></a></li>
		  		<li><a href="http://www.fortinet.com/" target="_blank"><%= image_tag 'partners/fortinet.png', :class=>'fill-container', :style=>"padding-bottom: 35px; padding-top: 30px;" %></a></li>
		  		<li><a href="http://www.xirrus.com/" target="_blank"><%= image_tag 'partners/xirrus.png', :class=>'fill-container' %></a></li>
		  	</ul>
		  	<div  class="col9 separated">
		  		<h1>Smarter decisions, zero hassles.</h1>
		  		<p class="large-text">Ready to learn more?</p>
		  		<p class="clearfix"><%= link_to_signupsite('contact_us', 'Contact Us', 'btn dark-btn clearfix') %></p>
	  		</div>
	  	</div>
  </div>
</section> 
