<div class="divider"></div>
<div class="container">
    <div class="col4">
        <div class="clearfix">
        <a href="http://www.linkedin.com/company/euclid" id="social-btn-linkedin" class="separated no-hover social-btn"></a>
        <a href="https://www.facebook.com/EuclidAnalytics" id="social-btn-fb" class="separated no-hover social-btn"></a>
        <a href="https://twitter.com/EuclidAnalytics" id="social-btn-twitter" class="separated no-hover social-btn"></a>
    </div>
    <!-- Begin MailChimp Signup Form

    <div id="mc_embed_signup">
    <form action="http://euclidelements.us5.list-manage.com/subscribe/post?u=312001f8bed6873a3c2d20723&amp;id=a83ce932de" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="true">
      <label for="mce-EMAIL">Subscribe to our mailing list</label><input type="submit" style="float:right; margin-top:2px; font-size:9px" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn dark-btn"></input>
      <input type="email" value="" name="EMAIL" class="email" style="line-height: 22px; width: 112px; margin-top: 2px;" id="mce-EMAIL" placeholder="email address" required="true"></input>
    </form>
    </div>

    End mc_embed_signup-->
    <div class="clearfix"><a href="http://eepurl.com/Cgo5P" class="no-top-marg dark-btn btn" target="_blank">Subscribe to Euclid Updates</a></div>
        <br/><p>&copy; 2013 Euclid - <%= link_to 'Website Privacy', '/privacy/statement.html' %></p>
    </div>
    <div class="col8">
        <ul class="">
            <li><%= link_to 'About', '/about/index.html' %></li>
            <li><a href="http://blog.euclidelements.com">Blog</a></li>
            <li><%= link_to 'Investors', '/about/investors.html' %></li>
            <li><%= link_to 'News', '/about/news.html' %></li>
            <li><%= link_to 'Careers', '/about/careers.html' %></li>
            <li><%= link_to 'Contact', '/about/contact.html' %></li>
        </ul>
        <ul class="">
            <li><%= link_to 'Privacy', '/privacy/index.html' %></li>
            <li><%= link_to_signupsite('optout', 'Opt Out', '') %></li>
            <li><%= link_to 'Privacy Statement', '/privacy/statement.html' %></li>
        </ul>
        <ul class="">
            <li><%= link_to 'Plans', '/pricing/index.html' %></li>
            <li><%= link_to 'Enterprise', '/pricing/index.html' %></li>
        </ul>
        <ul class="">
            <li><%= link_to 'Products', '/product/index.html' %></li> 
            <li><%= link_to 'Euclid Zero', '/product/zero.html' %></li>
            <li><%= link_to 'QSR and Coffee', '/product/qsr.html' %></li>
            <li><%= link_to 'Specialty Retail', '/product/specialty.html' %></li>
            <li><%= link_to 'Large Format Stores', '/product/department.html' %></li>
            <li><%= link_to 'Our Technology', '/product/technology.html' %></li>
        </ul>
    </div>
</div>