<div id="footer">
  <div class="main-wrap">
    <div class="row">
      <div class="col-sm-4">
        <div id="social" class="row">
          <div class="col-sm-12">
            <a href="http://www.linkedin.com/company/euclid" id="social-btn-linkedin" class="separated no-hover social-btn"></a>
            <a href="https://www.facebook.com/EuclidAnalytics" id="social-btn-fb" class="separated no-hover social-btn"></a>
            <a href="https://twitter.com/EuclidAnalytics" id="social-btn-twitter" class="separated no-hover social-btn"></a>
            <a href="https://plus.google.com/+EuclidAnalytics" id="social-btn-gplus" class="separated no-hover social-btn"></a>
          </div>
        </div>
        <div id="updates" class="row">
          <div class="col-sm-12">
            <div id="update-button"><a href="http://info.euclidanalytics.com/NewsletterSU.html" class="no-top-marg dark-btn btn" target="_blank">Subscribe to Updates</a><br/></div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-md-5">
            <div class="row">
              <div class="col-xs-6">
                <ul class="footer-links">
                  <li class="<%= nav_active('products/index.html') %>"><%= link_to 'Products', '/products/technology/' %></li>
                  <li class="<%= nav_active('products/express') %>"><%= link_to 'Euclid Express', '/products/express.html' %></li>
                  <li class="<%= nav_active('products/advanced') %>"><%= link_to 'Euclid Advanced', '/products/advanced.html' %></li>
                  <li class="<%= nav_active('products/index.html') %>"><%= link_to 'Plans & Pricing', '/products/plans' %></li>
                </ul>
              </div>
              <div class="col-xs-6">
                <ul class="footer-links">
                  <li class="<%= nav_active('solutions/index') %>"><%= link_to 'Solutions', '/solutions/index.html' %></li>
                  <li class="<%= nav_active('solutions/qsr/') %>"><%= link_to 'QSR & Coffee', '/solutions/qsr.html' %></li>
                  <li class="<%= nav_active('solutions/specialty/') %>"><%= link_to 'Specialty Retail', '/solutions/specialty.html' %></li>
                  <li class="<%= nav_active('solutions/department/') %>"><%= link_to 'Large Format Stores', '/solutions/department.html' %></li>
                  <li class="<%= nav_active('solutions/specialty/') %>"><%= link_to 'Executive', '/solutions/executives/' %></li>
                  <li class="<%= nav_active('solutions/department/') %>"><%= link_to 'Marketing', '/solutions/marketing/' %></li>
                  <li class="<%= nav_active('solutions/partners/') %>"><%= link_to 'Operations', '/solutions/operations/' %></li>
                  <li class="<%= nav_active('solutions/technology/') %>"><%= link_to 'IT', '/solutions/it/' %></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-xs-6">
                <ul class="footer-links">
                  <li class="<%= nav_active('privacy/index.html') %>"><%= link_to 'Resources', '/resources/library' %></li>
                  <li class="<%= nav_active('privacy/trust.html') %>"><%= link_to 'Benchmarks', '/resources/benchmarks' %></li>
                  <li class="<%= nav_active('privacy/statement') %>"><a href="http://blog.euclidelements.com">Blog</a></li>
                </ul>
              </div>
              <div class="col-xs-6">
                <ul class="footer-links">
                   <li class="<%= nav_active('privacy/index.html') %>"><%= link_to 'Partners', '/partners/technology' %></li>
                  <li class="<%= nav_active('privacy/trust.html') %>"><%= link_to 'Reseller Partners', '/partners/resellers' %></li>
                  <li class="<%= nav_active('about/index.html') %>"><%= link_to 'Become a Partner', 'http://info.euclidanalytics.com/Partner_SignUpLP.html' %></li>
                </ul>
                <ul class="footer-links">
                    <li class="<%= nav_active('about/index.html') %>"><%= link_to 'Support', '/support/' %></li>
                    <li class="<%= nav_active('about/index.html') %>"><%= link_to 'Knowledge Base', 'https://support.euclidanalytics.com/hc/en-us' %></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="row">
              <div class="col-xs-12">
                <ul class="footer-links">
                    <li class="<%= nav_active('about/index.html') %>"><%= link_to 'Company', '/about/index.html' %></li>
                    <li class="<%= nav_active('about/news/') %>"><%= link_to 'News & Events', '/about/news.html' %></li>
                    <li class="<%= nav_active('about/privacy/') %>"><%= link_to 'Privacy', '/about/privacy.html' %></li>
                    <li class="<%= nav_active('about/trust/') %>"><%= link_to 'Trust', '/about/trust.html' %></li>
                    <li class="<%= nav_active('about/careers/') %>"><%= link_to 'Careers', '/about/careers.html' %></li>   
                    <li class="<%= nav_active('about/contact/') %>"><%= link_to 'Contact', '/about/contact.html' %></li> 
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
        <div class="sublinks">
          <ul>
            <li><a href="http://euclidanalytics.com/privacy/website/">Terms of Use</a></li>
            <li><a href="http://euclidanalytics.com/privacy/statement/">Privacy Statement</a></li>
            <li><a class="last" href="https://optout.smartstoreprivacy.org/">Opt Out</a></li>
          </ul>
          <span id="copyright"><p>&copy; 2014 Euclid</p></span>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
(function() {
  var didInit = false;
  function initMunchkin() {
    if(didInit === false) {
      didInit = true;
      Munchkin.init('296-ROX-109');
    }
  }
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//munchkin.marketo.net/munchkin.js';
  s.onreadystatechange = function() {
    if (this.readyState == 'complete' || this.readyState == 'loaded') {
      initMunchkin();
    }
  };
  s.onload = initMunchkin;
  document.getElementsByTagName('head')[0].appendChild(s);
})();
</script>
