<% wrap_layout :layout do %>
  <aside class="col2"><nav id="subnav">
  	<ul>
  		<li class="slideout-btn">
  			<% link_to 'blurg.html' do %>
	  			<div class="handle"><%= image_tag "icon_team03_W_x2.png", :width => 40 %></div>
	  			<div class="caption">testing</div>
	  		<% end %>
  		</li>
  		<li class="slideout-btn">
  			<% link_to 'blurg.html' do %>
	  			<div class="handle"><%= image_tag "icon_team03_W_x2.png", :width => 40 %></div>
	  			<div class="caption">testing</div>
	  		<% end %>
  		</li>
  		<li class="slideout-btn">
  			<% link_to 'blurg.html' do %>
	  			<div class="handle"><%= image_tag "icon_team03_W_x2.png", :width => 40 %></div>
	  			<div class="caption">testing</div>
	  		<% end %>
  		</li>
  		<li class="slideout-btn">
  			<% link_to 'blurg.html' do %>
	  			<div class="handle"><%= image_tag "icon_team03_W_x2.png", :width => 40 %></div>
	  			<div class="caption">testing</div>
	  		<% end %>
  		</li>
  		<li class="slideout-btn">
  			<% link_to 'blurg.html' do %>
	  			<div class="handle"><%= image_tag "icon_team03_W_x2.png", :width => 40 %></div>
	  			<div class="caption">testing</div>
	  		<% end %>
  		</li>
  		<li class="slideout-btn">
  			<% link_to 'blurg.html' do %>
	  			<div class="handle"><%= image_tag "icon_team03_W_x2.png", :width => 40 %></div>
	  			<div class="caption">testing</div>
	  		<% end %>
  		</li>
  	</ul>
  </nav></aside>
  <div class="subcontainer10">
  	<%= yield %>
  </div>
<% end %>