<% wrap_layout :layout do %>
  
  <div class="content no-pad">
    <div class="container">
      <aside id="subnav"><nav>
        <ul>
          <li class="<%= nav_active('privacy/index.html') %>"><%= link_to 'Overview', '/privacy/index.html' %></li>
          <li class="<%= nav_active('privacy/advisors/') %>"><%= link_to_signupsite('optout', 'Opt Out', '') %></li>
          <li class="<%= nav_active('privacy/statement/') %>"><%= link_to 'Privacy Statement', '/privacy/statement.html' %></li>
        </ul>
      </nav></aside>
    </div>
  </div>
  <% if content_for?(:pagehead) %>
        <%= yield_content :pagehead %>
  <% end %>
  <%= yield %>
<% end %>