<% wrap_layout :layout do %>
  
<div class="content no-pad">
  <div class="container">
    <aside id="subnav"><nav><ul>
        <li class="<%= nav_active('product/solutions') %>"><%= link_to 'Solutions', '/product/solutions.html' %></li>
        <li class="<%= nav_active('product/dashboard/') %>"><%= link_to 'Dashboard', '/product/dashboard.html' %></li>
        <li class="<%= nav_active('product/how/') %>"><%= link_to 'How It Works', '/product/how.html' %></li>
        <li class="<%= nav_active('product/zero/') %>"><%= link_to 'Zero Hardware', '/product/zero.html' %></li>
        <li class="<%= nav_active('product/security/') %>"><%= link_to 'Security', '/product/security.html' %></li>
        <li class="<%= nav_active('product/getstarted/') %>"><%= link_to_signupsite('contact_us', 'Get Started', '') %></li>
    	</ul>
    </nav></aside>
  </div>
</div>
    <% if content_for?(:pagehead) %>
          <%= yield_content :pagehead %>
    <% end %>
    
  	<%= yield %>
<% end %>