<% content_for :pagetitle do %>Euclid for Large Format Stores, Department Stores, Big Box Stores, Event Venues<% end %>
<% content_for :pagehead do %>

<div id="banner-dept-holder" class="banner-holder">
	<div class="content featured-content-light banner banner-next" id="banner-dept-next"></div>
	<div class="content featured-content-light banner banner-cur" id="banner-dept-cur"></div>
</div>
<div class="content featured-content-light banner banner-content" id="banner-dept">
	<div class="container">
		<div class="subcontainer6 featured-content-textarea pull-right">
			<div class="featured-content-textarea-inner">
				<h1 class="light-text">For Large Formats</h1>
				<p class="large-text">Zone-level analytics deliver a comprehensive view of your department store, big box, or event venue.</p>
	    	  	<p class="clearfix"><a href="http://info.euclidanalytics.com/ContactUs.html" target="_blank" class="btn dark-btn clearfix">Contact Us</a></p>
	    	  </div>
			</div>
		</div>
	</div>
</div>

<% end %>

<section class="content">
  <div class="container">
  	<div class="subcontainer9 pull-center">
	  	<div class="col9 separated">
		  	<div class="underlined sectionlabel">Benefits</div> 
				<ul class="no-bullet">
					<li>&bull; All standard metrics, including traffic, visit duration, and bounce</li>
					<li>&bull; Detailed path analysis and unlimited zones, by department or floor</li>
					<li>&bull; Runs on in-store Wi-Fi or dedicated sensors</li>
					<li>&bull; Full data export, premium support, and custom analysis</li>
				</ul>
			</div>
  		<div  class="col9 separated">
  			<div class="underlined sectionlabel">Overview</div> 
				<p>Large format stores are ecosystems. Euclid’s foot-stream data and zone-level analytics provide a comprehensive view of department stores, big box stores, and event venues. Identify underperforming spaces and improve operational efficiency. Easily integrate Euclid performance metrics with your existing dashboards and BI tools.</p>
			</div>
			<div class="col9 underlined sectionlabel">INSIGHTS</div>
				  	  		<ul class="cluster-list no-bottom-marg">
				  	  					<li><a href="../case-studies/high-value_customers.pdf"><%= image_tag 'solutions/merch-1.png', :class=> 'insights-img shadowed' %></a><b>Euclid helps national retailer target high-value customers.</b><br/><br/><%= link_to "Read the case study", "../case-studies/high-value_customers.pdf" %>
			</li>
	  		<li><a href="../case-studies/geographic_reach.pdf"><%= image_tag 'solutions/geo-reach.png', :class=> 'insights-img shadowed' %></a><b>Euclid identifies highest value zip codes for
ad targeting.</b><br/><br/><%= link_to "Read the case study", "../case-studies/geographic_reach.pdf" %>
	  		</li>
	  	</ul>
			  		<ul class="cluster-list no-bottom-marg">
	  		<li><a href="../case-studies/Marketing_ROI_Whitepaper_061213.pdf"><%= image_tag 'solutions/marketing-2.png', :class=> 'insights-img shadowed' %></a><b>Leading national retailer uses Euclid to increase direct mail ROI and comp-store sales.</b><br/><br/><%= link_to "Read the case study", "../case-studies/Marketing_ROI_Whitepaper_061213.pdf" %>
	  		</li>
	  		<li><%= image_tag 'solutions/ops-1.png', :class=> 'insights-img shadowed' %><b>Are my outlets cannibalizing from my mainline stores?</b><br/><br/>Euclid’s exclusive cross-shopping analysis tells you how many customers shop at both kinds of stores in the same month.
	  		</li>
	  	</ul>
  	</div>
  </div>
</section> 
