<% content_for :pagetitle do %>Partners<% end %>
<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		<div  class="col9 separated">
	  		<h1>
	  			Euclid Hardware Partners – Real-world<br>analytics from your in-store Wi-Fi
	  		</h1>
	  		<p class="large-text">In-store insights with zero additional hardware</p>
	  	</div>

	  	<div class="col9 separated">
		  	<div class="underlined sectionlabel">Benefits</div> 
				<ul class="no-bullet">
					<li>&bull; Get Euclid Analytics without dedicated sensors</li>
					<li>&bull; Works with top enterprise Wi-Fi providers</li>
					<li>&bull; Eliminates installation hassle and cost</li>
				</ul>
			</div>
  		<div  class="col9 separated">
  			<div class="underlined sectionlabel">Overview</div> 
				<p>Looking to measure shopping activity across your entire chain, but daunted by the cost and hassle of procuring and installing hardware for hundreds of locations? Euclid has partnered with the leading enterprise Wi-Fi partners to provide analytics with no additional hardware. With a single click, Euclid gives retailers, malls, and other venues customer insights and answers from their existing Wi-Fi access points.</p>
				
				<p class="center-in-grid"><%= image_tag 'product/zero.png', :height=>"200" %></p>

				<p>Euclid hardware partnerships eliminate the need for dedicated sensors, costly in-store installation, or complicated setup. Once enabled, retailers can access actionable insights for improving shopper engagement, loyalty, and revenue, all through Euclid's easy-to-use <%= link_to 'web-based dashboard', '/solutions/' %>.</p>


			</div>
			<div class="col9 underlined sectionlabel">WI-FI PARTNERS</div>
  		<ul class="cluster-list large-text">
	  		<li><a href="http://www.aerohive.com" target="_blank"><%= image_tag 'partners/aerohive.png', :class=>'fill-container', :style=>"padding-left: 12px;" %></a></li>
	  		<li><a href="http://www.arubanetworks.com/" target="_blank"><%= image_tag 'partners/aruba.png', :class=>'fill-container', :style=>"padding-top: 25px;" %></a></li>
	  		<li><a href="http://cisco.com/en/US/products/hw/wireless" target="_blank"><%= image_tag 'partners/cisco.png', :class=>'fill-container', :style=>"padding-left: 30px; width: 160px; vertical-align: bottom;" %></a></li>
	  	</ul><ul class="cluster-list large-text">
	  	  <li><a href="http://meraki.cisco.com/" target="_blank"><%= image_tag 'partners/cisco-meraki.png', :class=>'fill-container', :style=>"padding-left: 18px; padding-bottom: 12px; padding-top: 18px; vertical-align: bottom; width: 180px;" %></a></li>
	  		<li><a href="http://www.fortinet.com/" target="_blank"><%= image_tag 'partners/fortinet.png', :class=>'fill-container', :style=>"padding-left: 10px; padding-bottom: 12px; padding-top: 30px;" %></a></li>
	  		<li><a href="http://www.juniper.net/us/en" target="_blank"><%= image_tag 'partners/juniper.png', :class=>'fill-container', :style=>"padding-left: 8px; padding-bottom: 12px; padding-top: 15px;" %></a></li>
	  	</ul><ul class="cluster-list large-text">
	  		<li><a href="http://www.ruckuswireless.com/" target="_blank"><%= image_tag 'partners/ruckus.png', :class=>'fill-container', :style=>"padding-left: 18px; padding-top: 12px; vertical-align: bottom; width: 180px;" %></a></li>
	  		<li><a href="http://www.xirrus.com/" target="_blank"><%= image_tag 'partners/xirrus.png', :class=>'fill-container' %></a></li>
	  	</ul>
		  	<div  class="col9 separated">
		  		<h1>Smarter decisions, zero hassles.</h1>
		  		<p>Euclid continues to expand its network by working with service providers, systems integrators, and other service organizations to distribute and educate customers on location-based analytics. Any potential partners interested in training, services, joint marketing, and other opportunities are encouraged to contact us. </p>
		  		<p class="clearfix"><a href="http://info.euclidanalytics.com/ContactUs.html" class="btn dark-btn clearfix">Contact Us</a></p>
	  		</div>
	  	</div>
  </div>
</section> 
