<% content_for :pagetitle do %>Our Board<% end %>
<section class="content no-bottom-pad">
  <div class="container">
  	<div class="col9 pull-right">
  		<h1 class="separated">Our Partners</h1>
  	</div>
  </div>
</section>
<section class="content no-pad">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		<div class="col9 sectionlabel underlined">Board of Directors</div>
  		
  		<ul class="content-list">
	  		<li class="content-list-item">
	  			<%= image_tag 'headshots/will-smith.jpg', :class=> 'col-half-of-9 headshot' %>
	  			<div class="col-half-of-9">
	  				<div class="sectionlabel content-list-item-title">Euclid CEO</div>
	  				<div class="content-list-item-name">Will Smith</div>
	  				<p>Will leads Euclid’s drive to answer retail’s toughest marketing and operations challenges with unprecedented insights into real-world shopper behavior. Will’s roots in the retail world run deep - his grandfather was an innovator in shopping center development and one-time chairman of the International Council of Shopping Centers. Will worked as an analyst at Citigroup and Thomas Weisel Partners and holds a degree in International Relations from Stanford.</p>
	  			</div>
	  		</li>

	  		<li class="content-list-item">
	  			<%= image_tag 'headshots/will-smith.jpg', :class=> 'col-half-of-9 headshot' %>
	  			<div class="col-half-of-9">
	  				<div class="sectionlabel content-list-item-title">Partner, NEA</div>
	  				<div class="content-list-item-name">Patrick Chung</div>
	  				<p>Patrick is co-head of NEA’s Seed-stage investing practice and founding partner of NEA and Harvard’s Experiment Fund (www.xfund.com). He is a director of 23andMe, Curalate, Euclid, Lytro, Pulse, and Recce, and is actively involved with Carezone, Fantasy Shopper, IFTTT, Rock Health, Tivli, and Zumper. Prior to joining NEA, Patrick helped to grow ZEFER, an Internet services firm (acquired by NEC) to more than $100 million in annual revenues and more than 700 people across six global offices. Prior to ZEFER, Patrick was with McKinsey &amp; Company, where he specialized in hardware, software, and services companies.</p>
	  			</div>
	  		</li>

	  		<li class="content-list-item">
	  			<%= image_tag 'headshots/will-smith.jpg', :class=> 'col-half-of-9 headshot' %>
	  			<div class="col-half-of-9">
	  				<div class="sectionlabel content-list-item-title">General Partner, Benchmark Capital</div>
	  				<div class="content-list-item-name">Bruce Dunlevie</div>
	  				<p>Bruce is a seasoned veteran of venture capital with more than 18 years experience in high-tech investing. Prior to Benchmark, Bruce spent six years as a general partner with Merrill, Pickard, Anderson &amp; Eyre (MPAE). Before MPAE, Bruce served as general manager of the Personal Computer Division of Everex Systems, which he founded and grew to a multi-hundred million-dollar business unit. Bruce also worked in investment banking for three years at Goldman, Sachs &amp; Co. and as a systems designer and programmer with Andersen Consulting.</p>
	  			</div>
	  		</li>

	  		<li class="content-list-item">
	  			<%= image_tag 'headshots/will-smith.jpg', :class=> 'col-half-of-9 headshot' %>
	  			<div class="col-half-of-9">
	  				<div class="sectionlabel content-list-item-title">Founder, THE MELT</div>
	  				<div class="content-list-item-name">Jonathan Kaplan</div>
	  				<p>Jonathan is the founder of THE MELT, a fast casual restaurant specializing in high-quality grilled cheese sandwiches and seasonally fresh soups. Previously, Jonathan was the founder and CEO of Pure Digital Technologies, best known for its bestselling line of Flip portable video cameras and later acquired by Cisco. In 2008, Jonathan was named one of the 25 Most Influential People on the Web by Businessweek.</p>
	  			</div>
	  		</li>

	  	</ul>
  	</div>
  </div>
</section>
<section class="content no-pad">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		<div class="col9 sectionlabel underlined">Advisors</div>
  		
  		<ul class="content-list">
	  		<li class="content-list-item">
	  			<%= image_tag 'headshots/will-smith.jpg', :class=> 'col-half-of-9 headshot' %>
	  			<div class="col-half-of-9">
	  				<div class="sectionlabel content-list-item-title">Director of Consumer Marketing, Google</div>
	  				<div class="content-list-item-name">Brett Crosby</div>
	  				<p>Brett leads marketing for Google’s consumer apps, including Gmail, Google Docs, and Google Drive. Previously, he ran marketing for Google+, Google Mobile Ads, and Google Local Ads. Brett was co-founder and VP of Marketing for Urchin Software, which was acquired by Google in 2005 and is now known as Google Analytics. He currently advises several startups on business strategy, marketing, and growth.</p>
	  			</div>
	  		</li>

	  		<li class="content-list-item">
	  			<%= image_tag 'headshots/will-smith.jpg', :class=> 'col-half-of-9 headshot' %>
	  			<div class="col-half-of-9">
	  				<div class="sectionlabel content-list-item-title">Principal and Founder, BlurryEdge Strategies</div>
	  				<div class="content-list-item-name">Lauren Gelman</div>
	  				<p>Lauren has been a leader in the field of cyberlaw and policy since 1995. Working in Washington DC and Silicon Valley, she played a part in many of the most important issues the Internet community has faced since its early development, specializing in privacy and surveillance, speech, intellectual property, social media, and virtual worlds. She founded BlurryEdge Strategies in January 2010 to assist companies and institutions as they navigate the complex legal, policy, and business strategy landscape of the social web.</p>
	  			</div>
	  		</li>

	  		<li class="content-list-item">
	  			<%= image_tag 'headshots/will-smith.jpg', :class=> 'col-half-of-9 headshot' %>
	  			<div class="col-half-of-9">
	  				<div class="sectionlabel content-list-item-title">Enterprise CMO, Farmers Insurance</div>
	  				<div class="content-list-item-name">Michael Linton</div>
	  				<p>Michael is the Enterprise CMO for Farmers Insurance. Michael has spent 30 years in marketing and general management for such high-profile companies as eBay, Best Buy, Progressive Insurance, and Procter &AMP; Gamble. As the Chief Marketing Officer of Best Buy, he delivered a number of innovations, including the Reward Zone Loyalty Program, the Rolling Stones Four Flicks DVD, and the marketing program to nationally expand Geek Squad. Over the years, Linton has received numerous marketing accolades and honors, including induction to the Retail Advertising Hall of Fame.</p>
	  			</div>
	  		</li>

	  	</ul>
  	</div>
  </div>
</section>








