<% content_for :pagetitle do %>Contact Us<% end %>
<section class="content contact-section">
  	<div class="container">
  		<div class="subcontainer12 pull-center">
	  		<div>
				
				<div  class="separated">
		  		<h1>Location</h1>
		  		<p>
	  				<strong>Euclid Inc.</strong> <br />
						400 Alabama Street <br />
						San Francisco, CA 94110<br>
						General: 1-800-681-2156

					</p>
	  			</div>
				<div  class="separated">
			  		<h1>Sales Inquiries</h1>
			  		<div class="col12"><a href="http://info.euclidanalytics.com/ContactUs.html" class="btn clearfix">Contact Us</a></div>
	  			</div>	  			
				<div  class="separated">
			  		<h1>Support</h1>
			  		<p>Learn more about Euclid support or visit our <a href="https://support.euclidanalytics.com/hc/en-us">Knowledge Base</a></p>
	  			</div>
				<div  class="separated">
			  		<h1>Stay in touch with Us</h1>
			  		<p>Connect, Friend, Follow, and Add us. </p>
				<div id="social-btns" class="clearfix pull-center">
					<!--<script src="//platform.linkedin.com/in.js" type="text/javascript">
					</script>

					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
					</script>
					<script type="IN/CompanyProfile" data-id="1610033" data-format="hover"></script>-->					
					<a href="http://www.linkedin.com/company/euclid" class="linkedin-btn">
						<%= image_tag 'linkedin-icon.png'%>
					</a>
					<a href="https://www.facebook.com/EuclidAnalytics" class="separated no-hover linkedin-btn">
		  				<%= image_tag 'facebook-icon.png'%>
		  			</a>
		  			<a href="https://twitter.com/EuclidAnalytics" class="linkedin-btn" data-show-count="false">
		  			<%= image_tag 'twitter-icon.png'%></a>					
					<a href="https://plus.google.com/+EuclidAnalytics/posts" class="separated linkedin-btn">
		  				<%= image_tag 'googlePlus-icon.png'%>
		  			</a>
		  		</div>
	  			</div>
	  		</div>
	 	</div>
	</div>
</section>
<section class="content advanced-second-section contact-section">
  <div class="container">
  	<div class="subcontainer12 pull-center">
  			<h1>Getting here</h1>
  			<p>We’re located in San Francisco's Mission district neighborhood. </p>
	  		<iframe class="col12 shadowed separated" width="770" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=400+Alabama+St,+San+Francisco,+CA+94110&amp;sll=37.764187,-122.412324&amp;sspn=0.010432,0.010171&amp;ie=UTF8&amp;hq=&amp;hnear=400+Alabama+St,+San+Francisco,+California+94110&amp;t=m&amp;ll=37.769019,-122.413445&amp;spn=0.023747,0.06609&amp;z=14&amp;output=embed&amp;iwloc=near"></iframe>
	  		<!--<iframe width="770" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=1027B+alma+street,+palo+alto,+ca&amp;ie=UTF8&amp;hq=&amp;hnear=1027+Alma+St,+Palo+Alto,+Santa+Clara,+California+94301&amp;gl=us&amp;t=m&amp;ll=37.448424,-122.162046&amp;spn=0.023849,0.06609&amp;z=14&amp;output=embed&iwloc=near"></iframe>
	  		
	  		<iframe  width="770" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=400+Alabama+St,+San+Francisco,+CA+94110&amp;sll=37.764187,-122.412324&amp;sspn=0.010432,0.010171&amp;ie=UTF8&amp;hq=&amp;hnear=400+Alabama+St,+San+Francisco,+California+94110&amp;t=m&amp;ll=37.764201,-122.412329&amp;spn=0.023748,0.06609&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>-->
	  		<!--
	  		<div class="large-text col9">
	  			Sales: <%= link_to_signupsite('contact_us', 'Contact Form', '') %><br />
				Support: <a href="mailto:support@euclidanalytics.com" class="scramble-email">moc.scitylanadilcue@troppus</a> <br />
				Press: <a href="mailto:press@euclidanalytics.com" class="scramble-email">moc.scitylanadilcue@sserp</a> <br />
				Partnerships and other: <a href="mailto:info@euclidanalytics.com" class="scramble-email">moc.scitylanadilcue@ofni</a>
	  		</div>-->
	  	</div>
	</div>
</section>