<% content_for :pagetitle do %>About Us<% end %>
<% content_for :pagehead do %>

<div class="content featured-content-light banner" id="banner-about">
	<div class="container">
		<div class="subcontainer6 featured-content-textarea pull-right">
			<div class="featured-content-textarea-inner">
				<h1 class="light-text">We have a passion for analytics, retail, and using data to grow businesses</h1>
				<p class="clearfix pad-bottom"><a href="http://www.youtube.com/watch?v=ANkpSGikJw8" title="Euclid empowers brick-and-mortar retailers with data" data-height="500" class="btn arrow-btn dark-btn lightbox">Watch Video</a></p>
			</div>
		</div>
	</div>
</div>

<% end %>
	


<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
		<div id="teamphotos" class="col9 separated clearfix">
	  		<!-- infographics here? -->		
			<!--	<%= image_tag 'team-photos/scotty.jpg', :class=>"teamphoto-img" %> -->

	  	</div>

	  	<div class="colgroup separated">
		  	<div class="col-half-of-9">
		  		<div class="sectionlabel">What we believe</div>
		  		<p>Physical retail is the foundation of shopping. In-store shopping sessions last longer than online, they convert better than online, and they form the foundation for lifelong relationships with customers. Euclid gives retailers actionable insights into this critical part of their business.</p>
		  	</div>
		  	<div class="col-half-of-9">
		  		<div class="sectionlabel">What we do</div>
		  		<p>We use technology and data to help retailers answer key questions about their business. We turn in-store analytics into insights and answers for improving marketing, merchandising, and operations. We never collect or use personally identifiable data. We only collect and use anonymous, aggregated data that respects and protects individual privacy.</p>
		  	</div>
	  	</div>

	  	<h3 class="col9 separated">
	  		Meet the team
	  	</h3>

	  	<div id="teamphotos" class="col9 separated clearfix">
	  		
	  						
			<figure class="teamphoto">
					<%= image_tag 'team-photos/will.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Will Smith, Founder and CEO</div>
					</figcaption>
			</figure>
			
			
	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/ken.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Ken Leung, CTO</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/mcadoo.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">John McAdoo, CFO</div>
					</figcaption>
				</figure>
				
	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/steve.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Steve Wilhelm, VP of Applications</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/tad.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Tad Shepperd, SVP</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/adrienn.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Adrienn Hopkins, HR and Office Manager</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/alexander.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Alexander Reichert, Insights Analyst</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/allen.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Allen Liu, Senior Systems Engineer</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/athena.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Athena Jiang, Insights Analyst</div>
					</figcaption>
				</figure>
	  		
	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/breton.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Breton Birkhofer, Insights Analyst</div>
					</figcaption>
			</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/carlin.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Carlin Eng, Analytics Scientist</div>
					</figcaption>
				</figure>
				
				  		<figure class="teamphoto">
					<%= image_tag 'team-photos/dave.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Dave Strauss, Analytics Scientist</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/dexin.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Dexin Wang, Director of Platform Engineering</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/jason.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Jason Chen, Platform Engineer</div>
					</figcaption>
				</figure>
				
				  		<figure class="teamphoto">
					<%= image_tag 'team-photos/jing-jing.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Jing-Jing Li, Business Operations Manager</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/judd.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Judd Blair, Applications Engineer</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/julia.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Julia Mailander, Marketing Manager</div>
					</figcaption>
				</figure>
				
				  		<figure class="teamphoto">
					<%= image_tag 'team-photos/ricardo.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Ricardo Batista, Insights Analyst</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/scotty.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Scott Frymoyer, Insights Manager</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/stephen.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Stephen Lim, Designer</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/zach.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Zach Olson, Applications Engineer</div>
					</figcaption>
				</figure>
				
			<figure class="teamphoto">
					<%= image_tag 'team-photos/holder.gif', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Jeff Nuzum, SVP - Sales</div>
					</figcaption>
			</figure>	

			<figure class="teamphoto">
					<%= image_tag 'team-photos/holder.gif', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Sunil Daluvoy,<br /> Sr. Director of Business Development</div>
					</figcaption>
			</figure>			
			
			<figure class="teamphoto">
					<%= image_tag 'team-photos/holder.gif', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Jade Hwa, Director of Sales</div>
					</figcaption>
			</figure>			
			
			<figure class="teamphoto">
					<%= image_tag 'team-photos/holder.gif', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Michael Weithers, Insights Analyst</div>
					</figcaption>
			</figure>		
				
			<figure class="teamphoto">
					<%= image_tag 'team-photos/holder.gif', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Michael Minar, Analytics Scientist</div>
					</figcaption>
			</figure>	

			<figure class="teamphoto">
					<%= image_tag 'team-photos/holder.gif', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Rachael Gargiulo, Sales</div>
					</figcaption>
			</figure>		

			<figure class="teamphoto">
					<%= image_tag 'team-photos/holder.gif', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Adam Wilson, CMO</div>
					</figcaption>
			</figure>		

			<figure class="teamphoto">
					<%= image_tag 'team-photos/holder.gif', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Mark Dahm, VP Partnerships</div>
					</figcaption>
			</figure>			
			
	  	</div>

	  	
	  	<!-- WHERE WE WORK -->
	    <div class="sectionlabel col9">Where we work</div>
	  	<%= image_tag 'team-photos/infographics/euclidians.jpg', :class=>"col9 separated" %>
	  	<!-- WHERE WE'VE BEEN -->
	  	<div class="sectionlabel col9">We've been to</div>
	  	<%= image_tag 'team-photos/infographics/worldmap.jpg', :class=>"col9 separated" %>

	  	<!--<div class="sectionlabel col9">We use</div>-->
			<div id="pcvmac" class="col9 separated">
				<div id="pcvmac-pcbar">PC</div>
				<div id="pcvmac-macbar">Mac</div>
			</div>

	  	<!-- WE LIKE
	  	<div class="sectionlabel col9">We like these colors</div>
	  	<ul class="col9 separated tilelist" id="tilelist-colors">	  		
	  		<li class="tilelist-item tilelist-color-purple"></li>
	  		<li class="tilelist-item tilelist-color-green"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  		<li class="tilelist-item tilelist-color-rainbow"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  		<li class="tilelist-item tilelist-color-green"></li>
	  		<li class="tilelist-item tilelist-color-red"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  		<li class="tilelist-item tilelist-color-teal"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  		<li class="tilelist-item tilelist-color-green"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  		<li class="tilelist-item tilelist-color-teal"></li>
	  		<li class="tilelist-item tilelist-color-red"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  		<li class="tilelist-item tilelist-color-teal"></li>
	  		<li class="tilelist-item tilelist-color-orange"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  		<li class="tilelist-item tilelist-color-red"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  		<li class="tilelist-item tilelist-color-red"></li>
	  		<li class="tilelist-item tilelist-color-purple"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  	</ul>
 -->
	  	<!-- WE DRINK 
	  	<div class="sectionlabel col9">And we like these drinks</div>
	  	<ul class="col9 separated tilelist" id="tilelist-drinks">
	  		<li class="tilelist-item"><%= image_tag 'team-photos/infographics/drinks/aviation.jpg' %></li>
	  		<li class="tilelist-item"><%= image_tag 'team-photos/infographics/drinks/beer.jpg' %></li>
	  		<li class="tilelist-item"><%= image_tag 'team-photos/infographics/drinks/bloodymary.jpg' %></li>
	  		<li class="tilelist-item"><%= image_tag 'team-photos/infographics/drinks/champ.jpg' %></li>
	  		<li class="tilelist-item"><%= image_tag 'team-photos/infographics/drinks/coffee.jpg' %></li>
	  		<li class="tilelist-item"><%= image_tag 'team-photos/infographics/drinks/fernet.jpg' %></li>
	  		<li class="tilelist-item"><%= image_tag 'team-photos/infographics/drinks/margarita.jpg' %></li>
	  		<li class="tilelist-item"><%= image_tag 'team-photos/infographics/drinks/martini.jpg' %></li>
	  		<li class="tilelist-item"><%= image_tag 'team-photos/infographics/drinks/mintjulep.jpg' %></li>
	  		<li class="tilelist-item"><%= image_tag 'team-photos/infographics/drinks/redwine.jpg' %></li>
	  		<li class="tilelist-item"><%= image_tag 'team-photos/infographics/drinks/sidecar.jpg' %></li>
	  		<li class="tilelist-item"><%= image_tag 'team-photos/infographics/drinks/jarritos.jpg' %></li>
	  		<li class="tilelist-item"><%= image_tag 'team-photos/infographics/drinks/whiskey.jpg' %></li>
	  	</ul>
-->

	  	<div class="colgroup">
		  	<div class="col-half-of-9">
	  			<div class="sectionlabel underlined">Board of Directors</div>
	  			<ul class="no-bullet">
	  				
	  				<li>
	  					<span class="large-text">Patrick Chung</span>
	  					<p>Partner, NEA</p>
	  				</li>
					<li>
	  					<span class="large-text">Bruce Dunlevie</span>
	  					<p>General Partner, Benchmark Capital</p>
	  				</li>
	  				<li>
	  					<span class="large-text">Jonathan Kaplan</span>
	  					<p>Founder and CEO, The Melt</p>
	  				</li>
					<li>
	  					<span class="large-text">Will Smith</span>
	  					<p>Founder and CEO, Euclid</p>
	  				</li>
	  			</ul>
	  		</div>
	  		<div class="col-half-of-9">
	  			<div class="sectionlabel underlined">Board of Advisors</div>
	  			<ul class="no-bullet">
	  				<li>
	  					<span class="large-text">Brett Crosby</span>
	  					<p>Director of Consumer Marketing, Google<br>Co-Founder, Urchin Software / Google Analytics</p>
	  				</li>
	  				<li>
	  					<span class="large-text">Lauren Gelman</span>
	  					<p>Principal and Founder, BlurryEdge Strategies</p>
	  				</li>
	  				<li>
	  					<span class="large-text">Michael Linton</span>
	  					<p>Enterprise CMO, Farmers Insurance</p>
	  				</li>
	  			</ul>
	  		</div>
	  	</div>
	</div>
</section>

