<% content_for :pagetitle do %>About Us<% end %>
<% content_for :pagehead do %>

<div class="content featured-content-light banner" id="banner-about">
	<div class="container">
		<div class="subcontainer6 featured-content-textarea pull-right">
			<div class="featured-content-textarea-inner">
				<h1 class="light-text">Euclid answers retail's toughest questions</h1>
			</div>
			<ul>
				<li>Traffic, visit duration, bounce and enagement rates</li>
				<li>Walk-by traffic and window conversion</li>
				<li>For QSR, specialty, and department stores</li>
		</div>
	</div>
</div>

<% end %>
	


<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  	
  		  	<h3 class="col9 large-text">
	  		We have a passion for analytics, retail, and using data to understand business.
	  	</h3>

	  	<div id="teamphotos" class="col9 separated clearfix">
	  		<!-- infographics here? -->		
			<!--	<%= image_tag 'team-photos/scotty.jpg', :class=>"teamphoto-img" %> -->

	  	</div>

	  	<div class="colgroup separated">
		  	<div class="col-half-of-9">
		  		<div class="sectionlabel">What we believe</div>
		  		<p>There’s no substitute for an amazing in-person shopping experience, whether it comes in the form of an inviting space, friendly service, or the simple pleasure of holding a product in your own hands. But for offline retail to thrive in the face of online, it’s going to take more than just gut and instinct. It means taking a systematic, data-driven approach to optimizing every part of the business.</p>
		  	</div>
		  	<div class="col-half-of-9">
		  		<div class="sectionlabel">What we do</div>
		  		<p>We use technology and data to help retailers answer key questions about their business. We turn in-store analytics into insights and answers for improving marketing, merchandising, and operations. We never collect or use personally identifiable data. We only collect and use anonymous, aggregated data that respects and protects individual privacy.</p>
		  	</div>
	  	</div>

	  	<h3 class="col9 separated">
	  		Meet the team
	  	</h3>

	  	<div id="teamphotos" class="col9 separated clearfix">
	  		
	  						
			<figure class="teamphoto">
					<%= image_tag 'team-photos/will.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Will Smith, CEO</div>
					</figcaption>
			</figure>
			
			
	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/ken.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Ken Leung, CTO</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/mcadoo.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">John McAdoo, CFO</div>
					</figcaption>
				</figure>
				
	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/steve.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Steve Wilhelm, VP of Applications</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/tad.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Tad Shepperd, Sr. VP</div>
					</figcaption>
				</figure>
				
				
	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/sandra.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Sandra Dolan, VP of Sales</div>
					</figcaption>
				</figure>
			
	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/adrienn.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Adrienn Hopkins, Office Manager</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/alexander.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Alexander Reichert, Insights Analyst</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/allen.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Allen Liu, Platform Engineer</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/athena.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Athena Jiang, Insights Analyst</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/breton.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Breton Birkhofer, Insights Analyst</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/carlin.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Carlin Eng, Analytics Scientist</div>
					</figcaption>
				</figure>
				
				  		<figure class="teamphoto">
					<%= image_tag 'team-photos/dave.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Dave Strauss, Analytics Scientist</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/dexin.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Dexin Wang, Platform Engineer</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/george.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">George Kwon, Director of Product</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/jason.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Jason Chen, Platform Engineer</div>
					</figcaption>
				</figure>
				
				  		<figure class="teamphoto">
					<%= image_tag 'team-photos/jing-jing.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Jing-Jing Li, Business Operations Manager</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/john.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">John Fu, Director of Marketing</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/judd.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Judd Blair, Applications Engineer</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/julia.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Julia Mailander, Marketing Manager</div>
					</figcaption>
				</figure>
				
				  		<figure class="teamphoto">
					<%= image_tag 'team-photos/ricardo.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Ricardo Batista, Insights Analyst</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/scotty.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Scott Frymoyer, Insights Manager</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/stephen.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Stephen Lim, Designer</div>
					</figcaption>
				</figure>

	  		<figure class="teamphoto">
					<%= image_tag 'team-photos/zach.jpg', :class=>"teamphoto-img" %>
					<figcaption class="teamphoto-caption">
						<div class="teamphoto-caption-inner">Zach Olson, Applications Engineer</div>
					</figcaption>
				</figure>

	  	</div>

	  	
	  	<!-- WHERE WE WORK -->
	  	<div class="col3">
	  		<div class="sectionlabel">Euclidians</div>
	  		<div class="bignum">26</div>
	  	</div>
	  	<div class="col3">
	  		<div class="sectionlabel">San Francisco</div>
	  		<div class="bignum">24</div>
	  	</div>
	  	<div class="col3">
	  		<div class="sectionlabel">NYC</div>
	  		<div class="bignum">2</div>
	  	</div>
	  	<%= image_tag 'team-photos/infographics/euclidians.jpg', :class=>"col9 separated" %>

	  	<!-- WHERE WE'VE BEEN -->
	  	<div class="sectionlabel col9">We've been to</div>
	  	<%= image_tag 'team-photos/infographics/worldmap.jpg', :class=>"col9 separated" %>

	  	<!-- WE LIKE -->
	  	<div class="sectionlabel col9">We like</div>
	  	<ul class="col9 separated tilelist">	  		
	  		<li class="tilelist-item tilelist-color-purple"></li>
	  		<li class="tilelist-item tilelist-color-green"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  		<li class="tilelist-item tilelist-color-rainbow"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  		<li class="tilelist-item tilelist-color-green"></li>
	  		<li class="tilelist-item tilelist-color-red"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  		<li class="tilelist-item tilelist-color-teal"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  		<li class="tilelist-item tilelist-color-green"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  		<li class="tilelist-item tilelist-color-teal"></li>
	  		<li class="tilelist-item tilelist-color-red"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  		<li class="tilelist-item tilelist-color-teal"></li>
	  		<li class="tilelist-item tilelist-color-orange"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  		<li class="tilelist-item tilelist-color-red"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  		<li class="tilelist-item tilelist-color-red"></li>
	  		<li class="tilelist-item tilelist-color-purple"></li>
	  		<li class="tilelist-item tilelist-color-blue"></li>
	  	</ul>

	  	<!-- WE DRINK 
	  	<div class="sectionlabel col9">And we drink</div>
	  	<ul class="col9 separated tilelist">
	  		<li class="tilelist-item" style="background-color: black"></li>
	  		<li class="tilelist-item"></li>
	  		<li class="tilelist-item"></li>
	  		<li class="tilelist-item"></li>
	  		<li class="tilelist-item"></li>
	  		<li class="tilelist-item"></li>
	  		<li class="tilelist-item"></li>
	  		<li class="tilelist-item"></li>
	  		<li class="tilelist-item"></li>
	  		<li class="tilelist-item"></li>
	  		<li class="tilelist-item"></li>
	  		<li class="tilelist-item"></li>
	  		<li class="tilelist-item"></li>
	  		<li class="tilelist-item"></li>
	  		<li class="tilelist-item"></li>
	  		<li class="tilelist-item"></li>
	  		<li class="tilelist-item"></li>
	  	</ul>-->


	  	<div class="colgroup">
		  	<div class="col-half-of-9">
	  			<div class="sectionlabel underlined">Board of Directors</div>
	  			<ul class="no-bullet">
	  				
	  				<li>
	  					<span class="large-text">Patrick Chung</span>
	  					<p>Partner, NEA</p>
	  				</li>
					<li>
	  					<span class="large-text">Bruce Dunlevie</span>
	  					<p>General Partner, Benchmark Capital</p>
	  				</li>
	  				<li>
	  					<span class="large-text">Jonathan Kaplan</span>
	  					<p>Founder and CEO, The Melt</p>
	  				</li>
					<li>
	  					<span class="large-text">Will Smith</span>
	  					<p>Founder and CEO, Euclid</p>
	  				</li>
	  			</ul>
	  		</div>
	  		<div class="col-half-of-9">
	  			<div class="sectionlabel underlined">Board of Advisors</div>
	  			<ul class="no-bullet">
	  				<li>
	  					<span class="large-text">Brett Crosby</span>
	  					<p>Director of Consumer Marketing, Google<br>Co-Founder, Urchin Software / Google Analytics</p>
	  				</li>
	  				<li>
	  					<span class="large-text">Lauren Gelman</span>
	  					<p>Principal and Founder, BlurryEdge Strategies</p>
	  				</li>
	  				<li>
	  					<span class="large-text">Michael Linton</span>
	  					<p>Enterprise CMO, Farmers Insurance</p>
	  				</li>
	  			</ul>
	  		</div>
	  	</div>
	</div>
</section>

