<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		<div class="col9 underlined"><h1>Investors</h1></div>
  		
  		<!-- <ul class="content-list">
	  		<li class="content-list-item">
	  			<%= image_tag 'headshots/jada-smith.jpg', :class=> 'col4 headshot' %>
	  			<div class="col5">
	  				<div class="sectionlabel content-list-item-title emphasize">Benchmark Capital</div>
	  				<p>We’re a small senior team of General Partners with equal contribution, compensation and authority. We use our deep network and our focus on mobile, social and cloud to help early-stage entrepreneurs build great companies.</p>
	  			</div>
	  		</li>

	  		<li class="content-list-item">
	  			<%= image_tag 'headshots/will-smith.jpg', :class=> 'col4 headshot' %>
	  			<div class="col5">
	  				<div class="sectionlabel content-list-item-title emphasize">Harrison Metal</div>
	  				<p>Harrison Metal invests in early-stage technology companies led by exceptional founders. We help founders build products that improve the daily lives of users, successfully take those products to market, and create a thriving business.</p>
	  			</div>
	  		</li>

	  		<li class="content-list-item">
	  			<%= image_tag 'headshots/will-smith.jpg', :class=> 'col4 headshot' %>
	  			<div class="col5">
	  				<div class="sectionlabel content-list-item-title emphasize">NEA</div>
	  				<p>Across three key domains - information technology, healthcare and energy technology - NEA applies its company-building expertise, vast network of resources and strong capital base to help our portfolio companies become leaders in their respective markets.</p>
	  			</div>
	  		</li>
	  	</ul> -->

	  	<ul class="cluster-list large-text underlined light-underlined">
	  		<li><%= image_tag 'investors/benchmark.png', :class=>'fill-container' %></li>
	  		<li><%= image_tag 'investors/H_M.png', :class=>'fill-container' %></li>
	  		<li><%= image_tag 'investors/NEA.png', :class=>'fill-container' %></li>
	  	</ul>

	  	<ul class="cluster-list large-text">
	  		<li>Auren Hoffman</li>
	  		<li>Ben Narasin</li>
	  		<li>Jens Christensen</li>
	  		<li>Othman Laraki</li>
	  		<li>TriplePoint Ventures</li>
	  		<li>Ulu Ventures</li>
	  		<li>XG Ventures</li>
	  	</ul>
  	</div>
  </div>
</section>








