<% content_for :pagetitle do %>News<% end %>
<section class="content no-bottom-pad">
<section class="content featured-content-grad no-pad">
<div class="hero-container">
    <div class="hero-unit hero-unit-news">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>News and Events</h1>
                    <p>Find out what people are talking about.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>  
</section>
<section class="content pad border-bottom pad-50 news">
  <div class="container">
  	<div class="subcontainer9 pull-center">
		<div class="col9">
    <h1>Press Releases</h1>
  			<ul class="no-bullet">
          <li>
          <span class="sectionlabel">May 8, 2014</span>
          <p>Euclid Releases U.S. Retail Benchmarks for April 2014 - Shoppers Didn't Fill Their Easter Baskets in April</p>
          <a href="http://www.marketwired.com/press-release/Shoppers-Didnt-Fill-Their-Easter-Baskets-April-According-Newest-US-Retail-Benchmarks-1908181.htm">read more</a>
          </li>
          <li>
          <span class="sectionlabel">April 8, 2014</span>
          <p>Euclid Releases U.S. Retail Benchmarks for March 2014 - U.S. Retail Failed to Emerge From the Snow in March</p>
          <a href="http://www.marketwired.com/press-release/US-Retail-Failed-Emerge-From-Snow-March-According-Newest-Benchmarks-Report-From-1897399.htm">read more</a>
          </li>
          <li>
          <span class="sectionlabel">March 6, 2014</span>
          <p>Euclid Releases U.S. Retail Benchmarks for February 2014 - Retail Sees a Bad Case of Frostbite in February</p>
           <a href="http://www.marketwired.com/press-release/Retail-Sees-Bad-Case-Frostbite-February-According-Newest-Monthly-US-Retail-1886318.htm">read more</a>
          </li>
          </ul>
          <ul class="toggleReleases no-bullet">
          <li>
          <span class="sectionlabel">February 5, 2014</span>
          <p>Euclid Releases U.S. Retail Benchmarks for January 2014 - Shoppers Battle the Weather to Take Advantage of Deals</p>
          <a href="http://www.marketwired.com/press-release/Shoppers-Battle-Weather-Take-Advantage-Deals-According-Euclids-January-US-Retail-1876133.htm">read more</a>
          </li>
          <li>
          <span class="sectionlabel">February 17, 2014</span>
          <p>Euclid builds out leadership team to accelerate next phase of growth</p>
           <a href="http://www.marketwired.com/press-release/Euclid-Builds-Out-Leadership-Team-to-Accelerate-Next-Phase-of-Growth-1879542.htm">read more</a>
          </li>
          <li>
          <span class="sectionlabel">January 9, 2014</span>
          <p>Announcing Euclid Express - Euclid Express Speeds Access to Brick-and-Mortar Insights</p>
           <a href="http://www.marketwired.com/press-release/Euclid-Offers-Free-Offline-Customer-Analytics-to-All-Retail-Locations-1867808.htm">read more</a>
          </li>
          <li>
          <span class="sectionlabel">January 3, 2014</span>
          <p>Euclid Releases U.S. Retail Benchmarks for December 2013 - Shopper Frenzy to Finish Off the Holiday Season</p>
          <a href="http://www.marketwired.com/press-release/shopper-frenzy-finish-off-holiday-season-according-euclids-december-us-retail-benchmarks-1866099.htm">read more</a>
          </li>
          <li>
          <span class="sectionlabel">December 16, 2013</span>
          <p>Euclid Analytics Named Privacy by Design Ambassador - Retail Analytics Company Recognized for Outstanding Commitment to Protecting Consumer Privacy</p>
          <a href="http://www.marketwired.com/press-release/Euclid-Analytics-Named-Privacy-by-Design-Ambassador-1862883.htm">read more</a>
          </li>
          <li>
          <span class="sectionlabel">December 10, 2013</span>
          <p>Euclid Releases U.S. Retail Benchmarks for November 2013 - Holiday Promotions Bring Shoppers Out in Droves</p>
          <a href="http://www.marketwired.com/press-release/holiday-promotions-bring-shoppers-out-in-droves-1861031.htm">read more</a>
          </li>
          <li>
          <span class="sectionlabel">November 10, 2013</span>
          <p>Euclid Releases U.S. Retail Benchmarks for October 2013 - Government Shutdown Spooks Shoppers in Octobe</p>
          <a href="http://www.marketwired.com/press-release/Government-Shutdown-Spooks-Shoppers-in-October-1852686.htm">read more</a>
          </li>
  			  	<li>
					<span class="sectionlabel">October 31, 2013</span>
					<p>Survey Conducted by Harris Interactive Reveals 93 Percent of Americans Dread Crowd-Related Inconveniences While Holiday Shopping</p>
          <a href="http://www.marketwatch.com/story/survey-conducted-by-harris-interactive-reveals-93-percent-of-americans-dread-crowd-related-inconveniences-while-holiday-shopping-2013-10-31">read more</a>
  				</li>
  			  	<li>
					<span class="sectionlabel">October 21, 2013</span>
					<p>Schumer, Tech Companies and Privacy Leaders Announce Important Agreement to Ensure Consumers Have Opportunity to "Opt-Out" Before Stores Can Track Their Movement Via Their Cell Phones - A Practice That is Becoming Increasingly More Common</p>
          <a href="http://www.schumer.senate.gov/record.cfm?id=346912&">read more</a>
  				</li>
  				<li>
					<span class="sectionlabel">October 10, 2013</span>
					<p>Euclid Releases U.S. Retail Benchmarks for September 2013 - Retail Analytics Leader Reveals Consumer Shopping Trends at Physical Stores</p>
          <a href="http://www.marketwired.com/press-release/Euclid-Releases-US-Retail-Benchmarks-for-September-2013-1840199.htm">read more</a>
  				</li>
  				<li>
					<span class="sectionlabel">July 18, 2013</span>
					<p>Announcing Euclid Analytics for Specialty Retailers</p>
          <a href="http://www.prweb.com/releases/2013/7/prweb10940115.htm">read more</a>
  				</li>
  				<li>
					<span class="sectionlabel">June 6, 2013</span>
					<p>Retail Analytics Pioneers Unite as ShopperTrak Co-Founder Tad Shepperd Joins Euclid to Expand East Coast Presence as Senior Vice President</p>
          <a href="http://www.webwire.com/ViewPressRel.asp?aId=175593#.Uydo8_11HfM">read more</a>
  				</li>
  				<li>
					<span class="sectionlabel">February 21, 2013</span>
					<p>Euclid Secures $17.3M in Series B Funding Led by Benchmark Capital to Bring Real-World Shopper Analytics to Top Retailers</p>
          <a href="http://www.webwire.com/ViewPressRel.asp?aId=170446#.Uydo6P11HfM">read more</a>
  				</li>
  				<li>
					<span class="sectionlabel">January 4, 2013</span>
					<p>Announcing Euclid Zero, the First Zero-Hardware Solution for Real-World Shopper Analytics</p>
          <a href="http://www.webwire.com/ViewPressRel.asp?aId=168238#.UydohP11HfM">read more</a>
  				</li>
          <li>
          <span class="sectionlabel">January 12, 2012</span>
          <p>Claris Solutions and Euclid Deliver Game-Changing Analytics for Retailers</p>
          <a href="http://www.prweb.com/releases/2012/1/prweb9100975.htm">read more</a>
          </li>
          <li>
          <span class="sectionlabel">November 3, 2011</span>
          <p>Founders of Google Analytics Launch Euclid with Powerful Tools for Real World Retailers </p>
          <a href="http://www.prweb.com/releases/2011/11/prweb8933476.htm">read more</a>
          </li>
  			</ul>
        <div class="viewAllReleases"><a href="#">View all</a></div>
  		</div>
  	</div>
  </div>
</section>
<section class="content pad-50 border-bottom news">
  <div class="container">
  	<div class="subcontainer9 pull-center">
		<div class="col9">
    <h1>News</h1>
  		<ul class="content-list">

        <li class="content-list-item">
          <a href="http://www.wwd.com/retail-news/financial/late-easter-helps-april-comp-sales-7673897" target="_blank">
            <%= image_tag '/img/news/wwd.jpg', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Women's Wear Daily - May 9, 2014</div>
            <p>April Comp Gains Send Contradictory Message</p>
            <a href="http://www.wwd.com/retail-news/financial/late-easter-helps-april-comp-sales-7673897">read more</a>
          </div>
        </li>

        <li class="content-list-item">
          <a href="http://online.wsj.com/news/articles/SB10001424052702304058204579493342007292528?mod=ST1" target="_blank">
            <%= image_tag '/img/news/wsj.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Wall Street Journal - April 10, 2014</div>
            <p>Retail Sales Thaw in March, Driven by Discounts</p>
            <a href="http://online.wsj.com/news/articles/SB10001424052702304058204579493342007292528?mod=ST1">read more</a>
          </div>
        </li> 

        <li class="content-list-item">
          <a href="http://www.latimes.com/business/money/la-fi-mo-retail-sales-march-20140410,0,5729291.story#axzz2yVYuSgKr" target="_blank">
            <%= image_tag 'news/la-times.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">LA Times - April 10, 2014</div>
            <p>March retail sales struggle to grow amid cool weather, later Easter</p>
          <a href="http://www.latimes.com/business/money/la-fi-mo-retail-sales-march-20140410,0,5729291.story#axzz2yVYuSgKr">read more</a>
          </div>          
        </li>
          
      </ul>
      <ul  class="toggleNews no-bullet">  
        <li class="content-list-item">
          <a href="http://chainstoreage.com/article/report-february-sales-grow-07" target="_blank">
            <%= image_tag '/img/news/chainstoreage.png', :class=> 'col3 headshot squareImg' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Chain Store Age - March 10, 2014</div>
            <p>Report: February sales grow 0.7%</p>
            <a href="http://chainstoreage.com/article/report-february-sales-grow-07">read more</a>
          </div>
        </li> 
        <li class="content-list-item">
          <a href="http://www.latimes.com/business/la-fi-retail-sales-february-20140307,0,4111586.story#axzz2vIVBCSYy" target="_blank">
            <%= image_tag 'news/la-times.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">LA Times - March 6, 2014</div>
            <p>Weather blamed for disappointing retail sales</p>
          <a href="http://www.latimes.com/business/la-fi-retail-sales-february-20140307,0,4111586.story#axzz2vIVBCSYy">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://www.bizreport.com/2014/03/euclid-february-sales-less-than-lovely.html" target="_blank">
            <%= image_tag 'news/biz-report.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">BizReport - March 7, 2014</div>
            <p>Euclid: February sales less than lovely</p>
          <a href="http://www.bizreport.com/2014/03/euclid-february-sales-less-than-lovely.html">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://data-informed.com/analytics-developers-retailers-seek-path-address-store-privacy/" target="_blank">
            <%= image_tag 'news/datainformed.jpg', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">DataInformed - February 24, 2014</div>
            <p>Analytics Developers, Retailers Seek Path to Address In-Store Privacy</p>
          <a href="http://data-informed.com/analytics-developers-retailers-seek-path-address-store-privacy/">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://www.research-live.com/news/people/euclid-staffs-up-with-cfo-cmo-and-sales-svp/4011242.article" target="_blank">
            <%= image_tag 'news/research.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Research - February 14, 2014</div>
            <p>Euclid staffs up with CFO, CMO and sales SVP</p>
          <a href="http://www.research-live.com/news/people/euclid-staffs-up-with-cfo-cmo-and-sales-svp/4011242.article">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://chainstoreage.com/article/report-consumers-stay-active-january#" target="_blank">
            <%= image_tag 'news/chainstoreage.png', :class=> 'col3 headshot squareImg' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Chain Store Age - February 6, 2014</div>
            <p>Report: Consumers stay active in January</p>
          <a href="http://chainstoreage.com/article/report-consumers-stay-active-january#">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://video.foxbusiness.com/v/3123230751001/deep-freeze-grips-south/?playlist_id=933116624001#sp=show-clips" target="_blank">
            <%= image_tag 'news/foxbusiness.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Fox Business - January 29, 2014</div>
            <p>Deep freeze grips South</p>
          <a href="http://video.foxbusiness.com/v/3123230751001/deep-freeze-grips-south/?playlist_id=933116624001#sp=show-clips">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://www.businessoffashion.com/2014/01/bits-bytes-euclid-express-pradux-mallzee.html?utm_source=Subscribers&utm_campaign=244f54b8bc-&utm_medium=email&utm_term=0_d2191372b3-244f54b8bc-416928773">
            <%= image_tag 'news/bof_logo.png', :class=> 'col3 headshot squareImg' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Business of Fashion - January 27, 2014</div>
            <p>Bits & Bytes | Euclid Express, Pradux, Mallzee</p>
          <a href="http://www.businessoffashion.com/2014/01/bits-bytes-euclid-express-pradux-mallzee.html?utm_source=Subscribers&utm_campaign=244f54b8bc-&utm_medium=email&utm_term=0_d2191372b3-244f54b8bc-416928773">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://www.bloomberg.com/video/retail-tech-better-shopping-through-big-data-_VIjP5Z_S8CeH60zLGIyrA.html">
            <%= image_tag 'news/bloomberg_tv.jpeg', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Bloomberg - January 14, 2014</div>
            <p>Retail Tech: Better Shopping Through Big Data</p>
          <a href="http://www.bloomberg.com/video/retail-tech-better-shopping-through-big-data-_VIjP5Z_S8CeH60zLGIyrA.html">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://online.wsj.com/news/articles/SB10001424052702303453004579290632128929194">
            <%= image_tag 'news/wsj.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Wall Street Journal - January 13, 2014</div>
            <p>What Secrets Your Phone Is Sharing About You</p>
          <a href="http://online.wsj.com/news/articles/SB10001424052702303453004579290632128929194">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://www.theguardian.com/technology/datablog/2014/jan/10/how-tracking-customers-in-store-will-soon-be-the-norm">
            <%= image_tag 'news/theGuardian.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">The Guardian - January 10, 2014</div>
            <p>How tracking customers in-store will soon be the norm</p>
          <a href="http://www.theguardian.com/technology/datablog/2014/jan/10/how-tracking-customers-in-store-will-soon-be-the-norm">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://qz.com/163598/the-3-slowest-days-of-the-holiday-shopping-season/">
            <%= image_tag 'news/quartz.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Quartz - January 5, 2014</div>
            <p>The three slowest days of the US holiday shopping season</p>
          <a href="http://qz.com/163598/the-3-slowest-days-of-the-holiday-shopping-season/">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://www.biztechmagazine.com/article/2013/12/3-tools-companies-can-use-harness-power-big-data">
            <%= image_tag 'news/biz-tech.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Biztech Magazine - December 30, 2013</div>
            <p>3 Tools Companies Can Use to Harness the Power of Big Data</p>
          <a href="http://www.biztechmagazine.com/article/2013/12/3-tools-companies-can-use-harness-power-big-data">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://chainstoreage.com/article/report-holiday-promotions-succeed-november">
            <%= image_tag 'news/chainstoreage.png', :class=> 'col3 headshot squareImg' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Chain Store Age - December 10, 2013</div>
            <p>Report: Holiday promotions succeed in November</p>
          <a href="http://chainstoreage.com/article/report-holiday-promotions-succeed-november">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://online.wsj.com/news/articles/SB10001424052702303332904579230401030827722?KEYWORDS=euclid">
            <%= image_tag 'news/wsj.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Wall Street Journal - December 9, 2013</div>
            <p>Tracking Technology Sheds Light on Shopper Habits</p>
          <a href="http://online.wsj.com/news/articles/SB10001424052702303332904579230401030827722?KEYWORDS=euclid">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://qz.com/152473/more-than-1-in-10-us-shoppers-leave-stores-within-five-minutes/">
            <%= image_tag 'news/quartz.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Quartz - December 2, 2013</div>
            <p>More than 1 in 10 US shoppers leave stores within five minutes</p>
          <a href="http://qz.com/152473/more-than-1-in-10-us-shoppers-leave-stores-within-five-minutes/">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://tv.ibtimes.com/black-friday-2013-thanksgiving-day-now-black-thursday-14410">
            <%= image_tag 'news/IB-Times.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">IB Times - November 16, 2013</div>
            <p>Black Friday 2013: Is Thanksgiving Day Now Black Thursday?</p>
          <a href="http://tv.ibtimes.com/black-friday-2013-thanksgiving-day-now-black-thursday-14410">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://chainstoreage.com/article/survey-nine-10-consumers-plan-holiday-shopping-stores">
            <%= image_tag 'news/chainstoreage.png', :class=> 'col3 headshot squareImg' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Chain Store Age - October 31, 2013</div>
            <p>Survey: Nine-in-10 consumers plan holiday shopping in stores</p>
          <a href="http://chainstoreage.com/article/survey-nine-10-consumers-plan-holiday-shopping-stores">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://www.politico.com/morningtech/1013/morningtech12001.html">
            <%= image_tag 'news/politico.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Politico - October 23, 2013</div>
            <p>FTC PRAISES NEW PRIVACY CODE FOR RETAIL ANALYTICS FIRMS</p>
          <a href="http://www.politico.com/morningtech/1013/morningtech12001.html">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://techcrunch.com/2013/10/22/senator-charles-schumer-location-analytics-firms-unveil-code-of-conduct-for-tracking-consumers-by-cellphones">
            <%= image_tag 'news/techcrunch.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">TechCrunch - October 22, 2013</div>
            <p>Senator Charles Schumer, Location Analytics Firms Unveil Code Of Conduct For Tracking Shoppers By Cellphones</p>
          <a href="http://techcrunch.com/2013/10/22/senator-charles-schumer-location-analytics-firms-unveil-code-of-conduct-for-tracking-consumers-by-cellphones">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://thehill.com/blogs/hillicon-valley/technology/329883-in-store-tracking-tech-companies-agree-to-customer-privacy-code">
            <%= image_tag 'news/thehill.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">The Hill - October 22, 2013</div>
            <p>In-store tracking tech companies agree to customer privacy code</p>
          <a href="http://thehill.com/blogs/hillicon-valley/technology/329883-in-store-tracking-tech-companies-agree-to-customer-privacy-code">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://data-informed.com/euclid-data-scientist-store-shopper-analytics-transparent/">
            <%= image_tag 'news/datainformed.jpg', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Data Informed - September 4, 2013</div>
            <p>In-store tracking tech companies agree to customer privacy code</p>
          <a href="http://data-informed.com/euclid-data-scientist-store-shopper-analytics-transparent/">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://www.bloomberg.com/video/using-big-data-to-provide-retailers-big-info-sZ8RamuyShagOCo3fxqZCw.html">
            <%= image_tag 'news/bloomberg_tv.jpeg', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Bloomberg TV - August 24, 2013</div>
            <p>Using Big Data to Provide Retailers Big Info</p>
          <a href="http://www.bloomberg.com/video/using-big-data-to-provide-retailers-big-info-sZ8RamuyShagOCo3fxqZCw.html">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://www.economist.com/blogs/economist-explains/2013/07/economist-explains-13">
            <%= image_tag 'news/economist.gif', :class=> 'col3 headshot squareImg' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">The Economist - July 21, 2013</div>
            <p>How do smartphones reveal shoppers’ movements?</p>
          <a href="http://www.economist.com/blogs/economist-explains/2013/07/economist-explains-13">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://www.today.com/video/today/52496938">
            <%= image_tag 'news/todayshow.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">The TODAY Show - July 16 & 17, 2013</div>
            <p>Retailers are using your phone to track shopping habits</p>
          <a href="http://www.today.com/video/today/52496938">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://venturebeat.com/2013/06/12/the-top-10-mobile-advertising-companies/">
            <%= image_tag 'news/venturebeat.png', :class=> 'col3 headshot squareImg' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">VentureBeat - July 12, 2013</div>
            <p>The top 10 mobile advertising companies</p>
          <a href="http://venturebeat.com/2013/06/12/the-top-10-mobile-advertising-companies/">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://techcrunch.com/2013/02/21/euclid-the-google-analytics-like-tracking-solution-for-brick-and-mortars-raises-17-3-million-series-b/">
            <%= image_tag 'news/techcrunch.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">TechCrunch - February 21, 2013</div>
            <p>Euclid, The Google Analytics-Like Tracking Solution For Brick-And-Mortars, Raises $17.3 Million Series B</p>
          <a href="http://techcrunch.com/2013/02/21/euclid-the-google-analytics-like-tracking-solution-for-brick-and-mortars-raises-17-3-million-series-b/">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://www.economist.com/news/business/21571452-security-cameras-are-watching-honest-shoppers-too-we-snoop-conquer">
            <%= image_tag 'news/economist.gif', :class=> 'col3 headshot squareImg' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">The Economist - February 7, 2013</div>
            <p>We snoop to conquer</p>
          <a href="http://www.economist.com/news/business/21571452-security-cameras-are-watching-honest-shoppers-too-we-snoop-conquer">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://www.forbes.com/sites/petercohan/2013/01/04/11949-growth-shows-euclid-has-what-hedge-funds-want/">
            <%= image_tag 'news/forbes-icon.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Forbes - January 4, 2013</div>
            <p>11,949% Growth Shows Euclid Has What Hedge Funds Want</p>
          <a href="http://www.forbes.com/sites/petercohan/2013/01/04/11949-growth-shows-euclid-has-what-hedge-funds-want/">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://www.ft.com/cms/s/2/e9ca595c-3f54-11e2-a095-00144feabdc0.html#axzz2vm789io3">
            <%= image_tag 'news/ft.gif', :class=> 'col3 headshot squareImg' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">The Financial Times - December 9, 2012</div>
            <p>Push to exploit an ocean of information</p>
          <a href="http://www.ft.com/cms/s/2/e9ca595c-3f54-11e2-a095-00144feabdc0.html#axzz2vm789io3">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://www.stores.org/STORES%20Magazine%20June%202012/counting-heads">
            <%= image_tag 'news/nrf_stores.gif', :class=> 'col3 headshot squareImg' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">Stores - June 1, 2012</div>
            <p>Counting Heads</p>
          <a href="http://www.stores.org/STORES%20Magazine%20June%202012/counting-heads">read more</a>
          </div>          
        </li>
        <li class="content-list-item">
          <a href="http://news.cnet.com/8301-1023_3-20129374-93/every-step-you-take-euclid-helps-merchants-follow-your-moves/">
            <%= image_tag 'news/cnet.png', :class=> 'col3 headshot squareImg' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">CNET - November 3, 2012</div>
            <p>Every step you take: Euclid helps merchants follow your moves</p>
          <a href="http://news.cnet.com/8301-1023_3-20129374-93/every-step-you-take-euclid-helps-merchants-follow-your-moves/">read more</a>
          </div>          
        </li>
	  	</ul>
      <div class="viewAllNews"><a href="#">View All</a></div>
  	</div>
  </div>
</section>
<section class="content pad-50 border-bottom news">
  <div class="container">
    <div class="subcontainer9 pull-center">
    <div class="col9">
    <h1>Events</h1>
      <ul class="content-list">
        
        <li class="content-list-item">
          <a href="http://www.icsc.org/2014RECON/" target="_blank">
            <%= image_tag '/img/news/recon.jpg', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">May 18-20, 2014 </div>
            <p>ICSC RECon <br>
              The Global Retail Real Estate Convention<br>
              Las Vegas, NV
            </p>
            <a href="http://www.icsc.org/2014RECON/">learn more</a>
          </div>
        </li> 
        <li class="content-list-item">
          <a href="http://www.wifioffloadsummit.com/" target="_blank">
            <%= image_tag '/img/news/wifi-icon.jpg', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">June 18-19, 2014</div>
            <p>Wi-Fi Offload Summit<br>
              Monetizing Carrier Wi-Fi<br>
              Palo Alto, CA
            </p>
            <a href="http://www.wifioffloadsummit.com/">learn more</a>
          </div>
        </li>
      </ul>
      <ul class="toggleEvents content-list"> 
        <li class="content-list-item">
          <a href="http://www.icsc.org/2014RECON/" target="_blank">
            <%= image_tag '/img/news/realComm.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">June 18-19, 2014 </div>
            <p>Realcomm<br>
              The Intersection of Technology, Innovation and Real<br>
              Estate Operations<br>
              Las Vegas, CA
            </p>
            <a href="http://www.icsc.org/2014RECON/">learn more</a>
          </div>
        </li> 
        <li class="content-list-item">
          <a href="http://www.cioretailsummit.com/" target="_blank">
            <%= image_tag '/img/news/cio_retail_summit.png', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">August 24-26, 2014 </div>
            <p>CIO Retail Summit  <br>
              Strategic Insight for Technology Leaders in Retail<br>
              Phoenix, AZ
            </p>
            <a href="http://www.cioretailsummit.com/">learn more</a>
          </div>
        </li> 
      </ul>
      <div class="viewAllEvents"><a href="#">View all</a></div>
    </div> 
  </div>
  </div>
</section>

<section class="content pad-50 news">
  <div class="container">
    <div class="subcontainer9 pull-center">
    <div class="col9">
    <h1>Awards</h1>
      <ul class="content-list">
        <li class="content-list-item">
          <a href="http://www.networkproductsguide.com/world/" target="_blank">
            <%= image_tag '/img/news/npg.jpg', :class=> 'col3 headshot smallImg' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">2013</div>
            <p>Network Products Guide<br>
              Silver - 8th Annual 2013 Hot Companies and Best Awards
            </p>
            <a href="http://www.networkproductsguide.com/world/">learn more</a>
          </div>
        </li> 
        <li class="content-list-item">
          <a href="http://www.stevieawards.com/pubs/awards/403_2662_22390.cfm" target="_blank">
            <%= image_tag '/img/news/stevie_award.gif', :class=> 'col3 headshot squareImg' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">2013</div>
            <p>Stevie® Award<br>
              New Product Awards & Product Management Categories Winners
            </p>
            <a href="http://www.stevieawards.com/pubs/awards/403_2662_22390.cfm">learn more</a>
          </div>
        </li> 
        <li class="content-list-item">
          <a href="http://www.bizjournals.com/sanjose/print-edition/2012/02/17/sensors-track-customers-habits-at.html?page=all" target="_blank">
            <%= image_tag '/img/news/svbj.jpg', :class=> 'col3 headshot' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">2012</div>
            <p>Silicon Valley Business Journal<br>
              Idea & Innovation Awards 
            </p>
            <a href="http://www.bizjournals.com/sanjose/print-edition/2012/02/17/sensors-track-customers-habits-at.html?page=all">learn more</a>
          </div>
        </li> 
      </ul>
      <ul class="toggleAwards content-list">
         <li class="content-list-item">
          <a href="http://venturebeat.com/2013/06/12/the-top-10-mobile-advertising-companies/" target="_blank">
            <%= image_tag '/img/news/venturebeat.png', :class=> 'col3 headshot squareImg' %>
          </a>
          <div class="col6">
            <div class="sectionlabel content-list-item-title">2013</div>
            <p>VentureBeat<br>
              Top 10 Mobile award 
            </p>
            <a href="http://venturebeat.com/2013/06/12/the-top-10-mobile-advertising-companies/">learn more</a>
          </div>
        </li> 
      </ul>
      <div class="viewAllAwards"><a href="#">View all</a></div>
    </div> 
  </div>
  </div>
</section>
<section class="content privacy-section mediaSection">
<div class="hero-container">
    <div class="hero-unit">
        <div class="main-wrap main-content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Media Inquiries</h1>
                    <a href="http://info.euclidanalytics.com/WC14-04PressIn.html" class="btn">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>








