<% content_for :pagetitle do %>News<% end %>
<section class="content no-bottom-pad">
  <div class="container">
  	<div class="col9  pull-right">
  		<h1 class="separated">News</h1>
  	</div>
  </div>
</section>
<section class="content no-pad">
  <div class="container">
  	<div class="subcontainer9  pull-right">

		<div class="col9">
  			<div class="sectionlabel underlined">Press Releases</div>
  			<ul class="no-bullet">
  				<li>
  					<a href="http://www.webwire.com/ViewPressRel.asp?aId=170446">
  						<span class="large-text">February 21, 2013</span>
  						<p>Euclid Secures $17.3M in Series B Funding Led by Benchmark Capital to Bring Real-World Shopper Analytics to Top Retailers</p>
  					</a>
  				</li>
  				<li>
  					<a href="http://www.webwire.com/ViewPressRel.asp?aId=168238">
  						<span class="large-text">January 4, 2013</span>
  						<p>Announcing Euclid Zero, the First Zero-Hardware Solution for Real-World Shopper Analytics</p>
  					</a>
  				</li>
  				<li>
  					<a href="http://www.prweb.com/releases/2012/1/prweb9100975.htm">
  						<span class="large-text">January 12, 2012</span>
  						<p>Claris Solutions and Euclid Deliver Game-Changing Analytics for Retailers</p>
  					</a>
  				</li>
  				<li>
  					<a href="http://www.prweb.com/releases/2011/11/prweb8933476.htm">
  						<span class="large-text">November 3, 2011</span>
  						<p>Founders of Google Analytics Launch Euclid with Powerful Tools for Real World Retailers</p>
  					</a>
  				</li>
  			</ul>
  		</div>
  	</div>
  </div>
</section>
<section class="content no-bottom-pad">
  <div class="container">
  	<div class="subcontainer9  pull-right">
		<div class="col9 underlined separated">
  			<div class="sectionlabel">In the news</div>
  		</div>
  		<ul class="content-list">
	  		<li class="content-list-item">
	  			<%= image_tag 'news/wwd.jpg', :class=> 'col3 headshot' %>
	  			<div class="col6">
	  				<div class="sectionlabel content-list-item-title emphasize">Women's Wear Daily</div>
	  				<p>2/22/2013 - "Euclid’s platform allows physical storefronts to understand quickly how often there are repeat visits, how long consumers stay in the stores and what is the conversion rate to get them back into the stores."</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<a href="http://techcrunch.com/2013/02/21/euclid-the-google-analytics-like-tracking-solution-for-brick-and-mortars-raises-17-3-million-series-b/" target="_blank"><%= image_tag 'news/techcrunch.png', :class=> 'col3 headshot' %></a>
	  			<div class="col6">
	  				<div class="sectionlabel content-list-item-title emphasize">TechCrunch</div>
	  				<p>2/21/2013 - "Euclid can help answer the question “why do lines exist?” Smith says. “With enough information about demand, they don’t need to exist. It’s making the shopping experience a lot more human. It’s real service through data."</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<%= image_tag 'news/economist.gif', :class=> 'col3 headshot' %>
	  			<div class="col6">
	  				<div class="sectionlabel content-list-item-title emphasize">The Economist</div>
	  				<p>2/9/2013 - "Euclid recommends telling customers that tracking is going on. “Companies that succeed in this space are companies that address privacy correctly,” says Will Smith of Euclid."</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<a href="http://www.forbes.com/sites/petercohan/2013/01/04/11949-growth-shows-euclid-has-what-hedge-funds-want/" target="_blank"><%= image_tag 'news/forbes.png', :class=> 'col3 headshot' %></a>
	  			<div class="col6">
	  				<div class="sectionlabel content-list-item-title emphasize">Forbes</div>
	  				<p>1/4/2013 - "Retailers use the data to boost sales. Here’s an example: Euclid tracks the number of people who walk by a store window and counts those who actually enter the store. If someone enters the store instead of walking by it, the odds of closing a sale rise dramatically."</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<a href="http://www.ft.com/intl/cms/s/2/e9ca595c-3f54-11e2-a095-00144feabdc0.html" target="_blank"><%= image_tag 'news/ft.gif', :class=> 'col3 headshot' %></a>
	  			<div class="col6">
	  				<div class="sectionlabel content-list-item-title emphasize">The Financial Times</div>
	  				<p>12/9/2012 - "Euclid is used by several of the largest US apparel retailers, says William Smith, chief executive. 'We’re creating data where there wasn’t any, and in the process answering questions that couldn’t be answered before.'"</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<a href="http://www.stores.org/STORES%20Magazine%20June%202012/counting-heads" target="_blank"><%= image_tag 'news/nrf_stores.gif', :class=> 'col3 headshot' %></a>
	  			<div class="col6">
	  				<div class="sectionlabel content-list-item-title emphasize">STORES</div>
	  				<p>6/1/2012 - "With Euclid’s technology, retailers can determine how many people walk by their stores — and the percentage that come in vs. those that remain outside. This information can be provided inside of 24 hours — so if a retailer changes a window display on a Friday night and wants to check the impact on Saturday’s traffic, the report will typically be available by Sunday."</p>
	  			</div>
	  		</li>
	  	    <li class="content-list-item">
	  			<a href="http://news.cnet.com/8301-1023_3-20129374-93/every-step-you-take-euclid-helps-merchants-follow-your-moves/" target="_blank"><%= image_tag 'news/cnet.png', :class=> 'col3 headshot' %></a>
	  			<div class="col6">
	  				<div class="sectionlabel content-list-item-title emphasize">CNET</div>
	  				<p>11/3/2012 - "Euclid installed sensors in all 12 Philz stores. After eight years in business, Jaber is learning things he never imagined. He knows, for instance, that customers on average spend 43 minutes in his store in Berkeley, yet only 15 minutes at the one in the SOMA neighborhood of San Francisco, something known as dwell time."</p>
	  			</div>
	  		</li>
	  	</ul>
  	</div>
  </div>
</section>
<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
  		<div class="col9 underlined sectionlabel">Awards</div>
  		<ul class="cluster-list large-text no-bottom-marg">
	  		<li><a href="http://www.bizjournals.com/sanjose/print-edition/2012/02/17/sensors-track-customers-habits-at.html?page=all" target="_blank">Silicon Valley Business Journal Idea &amp; Innovation Awards 2012 </a></li>
	  		<li><%= image_tag 'news/gartner.jpg', :class=>'fill-container' %></li>
	  	</ul>
  	</div>
  </div>
</section>








