<% content_for :pagetitle do %>Privacy<% end %>
<% content_for :pagehead do %>

<section class="content featured-content-grad no-pad">
  	<div class="container colgroup">
	  	<div class="col6 bump-left under-right hide-on-mobile"><%= image_tag 'privacy_privacy.jpg', :height=>'350' %></div>
	  	<div class="col6  featured-content-textarea light-text pull-right">
	  		<div class="featured-content-textarea-inner">
	  			<h1>Euclid’s commitment<br>to privacy</h1>
	  			<p>At Euclid, we’re excited about providing real benefits for retailers and shoppers through the use of technology and data. For example, retailers can use our services to reduce wait times at the register, offer more convenient hours, and make products easier to find on the shelf. Since we’re also shoppers ourselves, we understand if you have concerns about how our services affect your privacy. </p>
	  		</div>
	  	</div>
	</div>
</section>

<% end %>


<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
	  	<h3 class="deemphasize col9 separated">
	  		Our core belief is that we can provide valuable insights to retailers while respecting and protecting the privacy of individual shoppers. <br>To do that, we follow three important principles:
	  	</h3>
	  	<ul class="content-list">
	  		<li class="content-list-item">
	  			<%= image_tag 'privacy/privacy02.png', :class=> 'col3' %>
	  			<div class="col6">
	  				<div class="content-list-item-title sectionlabel">Aggregate, anonymous analytics</div>
	  				<p>The reports we provide to retailers do not include any representation of individual behavior, nor do we attempt to link any data to individual people.</p>
	  				<p><a href="../../img/privacy/report.png" title="Example Report" class="lightbox no-hover">View an example report</a></p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<%= image_tag 'privacy/privacy01.png', :class=> 'col3' %>
	  			<div class="col6">
	  				<div class="content-list-item-title sectionlabel">Limited data collection</div>
	  				<p>Euclid sensors collect only basic device information that is broadcast by Wi-Fi enabled phones. This does not include any sensitive data such as who you are, whom you call, or the websites you visit.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<%= image_tag 'privacy/privacy03.png', :class=> 'col3' %>
	  			<div class="col6">
	  				<div class="content-list-item-title sectionlabel">Easy opt-out and delete</div>
	  				<p>Shoppers who have any concerns can easily opt out and delete any existing data from our service by clicking the button below. We also provide opt-out instructions at every store that uses our service.</p>
	  				<%= link_to_signupsite('optout', 'Opt-out', 'btn dark-btn') %>
	  			</div>
	  		</li>
	  	</ul>
	  </div>
	</div>
</section>

<script type="application/json" id="easyOptions">
{
        "global": {
                "dragDrop": false
        }
}
</script>