<% content_for :pagetitle do %>Privacy<% end %>
<% content_for :pagehead do %>

<section class="content featured-content-grad no-pad">
  	<div class="container colgroup">
	  	<div class="col6 bump-left under-right hide-on-mobile"><%= image_tag 'privacy_privacy.jpg', :height=>'350' %></div>
	  	<div class="col6  featured-content-textarea light-text pull-right">
	  		<div class="featured-content-textarea-inner">
	  			<h1>Foot-traffic analysis and consumer privacy</h1>
	  			<p>Anonymous foot-traffic analysis helps retailers improve store layouts, time promotions and sales, measure marketing effectiveness, even determine staffing levels and store hours. Euclid measures anonymous foot-traffic by sensing smartphones. No personally identifiable data is ever collected or used. </p>
	  			<p><a href="http://blog.euclidelements.com/2013/07/why-i-built-euclid.html">Thoughts on privacy from our CEO</a></p>
	  			<a href="http://www.youtube.com/watch?v=KZRMA3kDsVk" title="Euclid Privacy" data-height="500" class="btn no-top-marg arrow-btn dark-btn lightbox">Watch Video</a></p>
	  		</div>
	  	</div>
	</div>
</section>

<% end %>
<section class="content">
  <div class="container">
  	<div class="subcontainer9  pull-right">
	  	
	  	<ul class="content-list">
	  		<li class="content-list-item">
	  			<div class="col9">
	  				<div class="content-list-item-title sectionlabel">Mobile Location Analytics Code of Conduct</div>
	  				<p>Senator Charles Schumer, the Future of Privacy Forum, Euclid Analytics CEO Will Smith, and other leading technology companies were instrumental in developing the Mobile Location Analytics <a href="http://blog.euclidelements.com/2013/10/senator-schumer-and-tech-companies.html">Code of Conduct</a>. The new code sets an industry-wide standard for protecting consumer privacy when dealing with mobile device data, along with defining rules of engagement for retailers and technology companies.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<%= image_tag 'privacy/privacy02.png', :class=> 'col3' %>
	  			<div class="col6">
	  				<div class="content-list-item-title sectionlabel">No personal information -- no real-world identity</div>
	  				<p>The reports we provide to retailers do not include any representation of individual behavior, nor do we attempt to link any data to individual people.</p>
	  				<p><a href="../../img/privacy/report.png" title="Example Report" class="lightbox no-hover">View an example report</a></p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<%= image_tag 'privacy/privacy01.png', :class=> 'col3' %>
	  			<div class="col6">
	  				<div class="content-list-item-title sectionlabel">Limited data collection</div>
	  				<p>Euclid sensors collect only basic device information that is broadcast by Wi-Fi enabled phones. This does not include any sensitive data such as who you are, whom you call, or the websites you visit.</p>
	  			</div>
	  		</li>
	  		<li class="content-list-item">
	  			<%= image_tag 'privacy/privacy03.png', :class=> 'col3' %>
	  			<div class="col6">
	  				<div class="content-list-item-title sectionlabel">Easy opt-out and delete</div>
	  				<p>Shoppers who have any concerns can easily opt out and delete any existing data from our service by clicking the button below. We also provide opt-out instructions at every store that uses our service.</p>
	  				<%= link_to_signupsite('optout', 'Opt-out', 'btn dark-btn') %>
	  			</div>
	  		</li>
	  	</ul>
	  </div>
	</div>
</section>

<script type="application/json" id="easyOptions">
{
        "global": {
                "dragDrop": false
        }
}
</script>