<% content_for :pagetitle do %>Enterprise Plans<% end %>
<div class="content">
    <div class="container">
        <div class="col12 separated"> 
          <h1>Enterprise plans</h1>
          <p class="large-text">(10 stores and up)<br/></p>
          <table id="pricing-table">
            <tr id="plan-name">
              <td width="25%"><%= link_to 'Euclid Zero', "../product/zero.html" %></td>
              <td width="25%"><%= link_to 'QSR & Coffee', "../product/qsr.html" %></td>
              <td width="25%"><%= link_to 'Specialty Retail', "../product/specialty.html" %></td>
              <td width="25%"><%= link_to 'Large Format Stores', "../product/department.html" %></td>
            </tr>
              <td>Free! Deploy in one click on practically any Wi-Fi network (Aerohive, Aruba, Cisco, Fortinet, Meraki, Ruckus, Xirrus).</td>
              <td>Get answers by restaurant and chainwide, all by daypart. QSR analytics help you maximize throughput at peak or all day.</td>
              <td>Comp store sales drives chain performance. Get answers tailor-made for specialty retail including window conversion, loyalty, and cohort analysis.</td>
              <td>Large-format stores are ecosystems. Foot-stream data and zone-level analytics give a comprehensive view of the store.</td>
            </tr>
            <tr>
              <td>&bull; Traffic - counts and duration</td>
              <td><b>All standard Euclid metrics, plus:</b></td>
              <td><b>All standard Euclid metrics, plus:</b></td>
              <td><b>All standard Euclid metrics, plus:</b></td>
            </tr>
            <tr>
              <td>&bull; Engagement - capture and bounce</td>
              <td>&bull; Walk-by traffic and conversion</td>
              <td>&bull; Window conversion</td>
              <td>&bull; Detailed path analysis</td>
            </tr>
            <tr>
              <td>&bull; Repeat - recency and frequency</td>
              <td>&bull; Chain loyalty, cross shopping</td>
              <td>&bull; Bounce, engagement by cohort</td>
              <td>&bull; Unlimited zones per store</td>
            </tr>
            <tr>
              <td>&bull; Up and running in minutes</td>
              <td>&bull; All by daypart</td>
              <td>&bull; Tied to your marketing calendar</td>
              <td>&bull; KPIs by zone</td>
            </tr>
            <tr>
              <td></td>
              <td>Runs on in-store Wi-Fi or dedicated sensors</td>
              <td>Runs on in-store Wi-Fi or dedicated sensors</td>
              <td>Runs on in-store Wi-Fi or dedicated sensors</td>
            </tr>
            <tr>
			  <td></td>
              <td>Full data history &amp; export</td>
              <td>Full data history &amp; export</td>
              <td>Full data history &amp; export</td>
            </tr>
            <tr>
              <td></td>
              <td>Premium support</td>
              <td>Premium support</td>
              <td>Premium support</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Custom analysis</td>
              <td>Custom analysis</td>
            </tr>
          </table>
          
          <!--<span class="sectionlabel">Ready to Order? </span> -->
          <h2 class="pad-top">Get a custom proposal built around your needs.</h2>
          <p class="clearfix"><%= link_to_signupsite('contact_us', 'Contact Us', 'btn dark-btn clearfix') %></p>
		  <br/>
		  <br/>
          <p class="large-text"><%= link_to 'Or, view SMB plans (for chains with fewer than 10 stores)', 'smb.html' %></p>
   		</div>
	</div>
</div>