<% content_for :pagetitle do %>Pricing<% end %>
<div class="content">
    <div class="container">
        <div class="col12 separated"> 
          <h1>Choose the best plan for your business</h1>
          <p class="large-text">We understand that different businesses have different needs. Euclid offers two product tiers: Euclid Express and Euclid Advanced. <br/></p>
          <table id="pricing-table">
            <tr id="plan-name">
              <td width="50%"><h3>Euclid Express</h3><%= link_to 'Learn More', "../product/zero.html", :class=>"pricing-table-learnmore" %></td>
              <td width="50%"><h3>Euclid Advanced</h3><%= link_to 'Learn More', "../product/qsr.html", :class=>"pricing-table-learnmore" %></td>
            </tr>
              <td>Free offline customer analytics for all retail locations</td>
              <td>Tailored answers for <%= link_to 'Specialty Retail', "../product/specialty.html" %>, <%= link_to 'QSR & Coffee', "../product/qsr.html" %>, <%= link_to 'Large Format Stores', "../product/department.html" %>, and More. </td>
            </tr>
            <tr id="pricing-table-featurelist">
              <td>
                <b>Standard Euclid metrics, plus:</b>
                <ul>
                <li>Window conversion</li>
                <li>Bounce, engagement by cohort</li>
                <li>Tied to your marketing calendar</li>
                <li>Runs on in-store Wi-Fi or dedicated sensors</li>
                <li>Full data history & export</li>
                <li>Premium support</li>
                <li>Custom Analysis</li>
              </ul></td>

              <td>
                <b>Standard Euclid metrics, plus:</b>
                <ul>
                <li>Detailed path analysis</li>
                <li>Unlimited zones per store</li>
                <li>KPIs by zone</li>
                <li>Runs on in-store Wi-Fi or dedicated sensors</li>
                <li>Full data history & export</li>
                <li>Premium support</li>
                <li>Custom Analysis</li>
              </ul></td>
            </tr>


            <!--<tr>
              <td>&bull; Traffic - counts and duration</td>
              <td><b>All standard Euclid metrics, plus:</b></td>
              <td><b>All standard Euclid metrics, plus:</b></td>
              <td><b>All standard Euclid metrics, plus:</b></td>
            </tr>
            <tr>
              <td>&bull; Engagement - capture and bounce</td>
              <td>&bull; Walk-by traffic and conversion</td>
              <td>&bull; Window conversion</td>
              <td>&bull; Detailed path analysis</td>
            </tr>
            <tr>
              <td>&bull; Repeat - recency and frequency</td>
              <td>&bull; Chain loyalty, cross shopping</td>
              <td>&bull; Bounce, engagement by cohort</td>
              <td>&bull; Unlimited zones per store</td>
            </tr>
            <tr>
              <td>&bull; Up and running in minutes</td>
              <td>&bull; All by daypart</td>
              <td>&bull; Tied to your marketing calendar</td>
              <td>&bull; KPIs by zone</td>
            </tr>
            <tr>
              <td></td>
              <td>Runs on in-store Wi-Fi or dedicated sensors</td>
              <td>Runs on in-store Wi-Fi or dedicated sensors</td>
              <td>Runs on in-store Wi-Fi or dedicated sensors</td>
            </tr>
            <tr>
			  <td></td>
              <td>Full data history &amp; export</td>
              <td>Full data history &amp; export</td>
              <td>Full data history &amp; export</td>
            </tr>
            <tr>
              <td></td>
              <td>Premium support</td>
              <td>Premium support</td>
              <td>Premium support</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Custom analysis</td>
              <td>Custom analysis</td>
            </tr>-->
          </table>
          
          <!--<span class="sectionlabel">Ready to Order? </span> -->
          <h2 class="pad-top">Get a custom proposal built around your needs.</h2>
          <p class="clearfix"><%= link_to_signupsite('contact_us', 'Contact Us', 'btn dark-btn clearfix') %></p>
		  <br/>
		  <br/>
          <!--<p class="large-text"><%= link_to 'Or, view SMB plans (for chains with fewer than 10 stores)', 'smb.html' %></p>-->
   		</div>
	</div>
</div>