<% content_for :pagetitle do %>Enterprise Plans and Pricing<% end %>
<div class="content">
    <div class="container">
        <div class="col12 separated"> 
          <h1 class="separated">Enterprise plans and pricing<br/> (10 stores and up)</h1>
          <table id="pricing-table">
            <tr id="plan-name">
              <td width="25%"><%= link_to 'Euclid Zero', "../product/zero.html" %></td>
              <td width="25%"><%= link_to 'Quick Service', "../product/qsr.html" %></td>
              <td width="25%"><%= link_to 'Specialty Retail', "../product/specialty.html" %></td>
              <td width="25%"><%= link_to 'Department Stores', "../product/department.html" %></td>
            </tr>
            <tr id="plan-price">
              <td>Free<span class="plan-type">with existing in-store Wi-Fi</span></td>
              <td>$39 - $99<span class="plan-permonth"></span><span class="plan-type">per month per store</span></td>
              <td>$99 - $199<span class="plan-permonth"></span><span class="plan-type">per month per store</span></td>
              <td>$199 - $299<span class="plan-permonth"></span><span class="plan-type">per month per store</span></td>
            </tr>
            <tr id="plan-descr">
              <td>Deploy in one click. Capture traffic, visit duration, bounce and enagement rates for your Wi-Fi enabled store.</td>
              <td>Get same-store and chain-wide demand by daypart. QSR analytics help you maximize throughput at peak or all day. </td>
              <td>Sales productivity drives profit per square foot. Get answers tailor-made for specialty retail including window conversion and walk-by traffic.</td>
              <td>Anchor stores are ecosystems. Foot-stream data and zone-level analytics give a comprehensive view of the store.</td>
            </tr>
            <tr>
              <td>&bull; Traffic counts &amp; visit duration</td>
              <td><b>All standard Euclid metrics, plus:</b></td>
              <td><b>All standard Euclid metrics, plus:</b></td>
              <td><b>All standard Euclid metrics, plus:</b></td>
            </tr>
            <tr>
              <td>&bull; Bounce and engagement rates</td>
              <td>&bull; Walk-by traffic and conversion</td>
              <td>&bull; Window conversion</td>
              <td>&bull; Detailed path analysis</td>
            </tr>
            <tr>
              <td>&bull; Online reporting</td>
              <td>&bull; Chain &amp; brand loyalty</td>
              <td>&bull; Bounce and engagement by zone</td>
              <td>&bull; Unlimited zones per store</td>
            </tr>
            <tr>
              <td>&bull; Up and running in minutes</td>
              <td>&bull; All by daypart</td>
              <td>&bull; Tied to your marketing calendar</td>
              <td>&bull; By floor and department</td>
            </tr>
            <tr>
              <td><a href="/product/zero/"><%= image_tag 'partners/all-partners.png', :style=>'position: absolute; margin: 0 17px;' %></a></td>
              <td>Runs on most in-store Wi-Fi or dedicated sensors</td>
              <td>Runs on most in-store Wi-Fi or dedicated sensors</td>
              <td>Runs on most in-store Wi-Fi or dedicated sensors</td>
            </tr>
            <tr>
			  <td></td>
              <td>Full data history &amp; export</td>
              <td>Full data history &amp; export</td>
              <td>Full data history &amp; export</td>
            </tr>
            <tr>
              <td></td>
              <td>Premium support</td>
              <td>Premium support</td>
              <td>Premium support</td>
            </tr>
            <tr>
              <td></td>
              <td>Custom analysis</td>
              <td>Custom analysis</td>
              <td>Custom analysis</td>
            </tr>
          </table>
          
          <!--<span class="sectionlabel">Ready to Order? </span> -->
          <h2 class="pad-top">Get in touch for a custom proposal built around your needs.</h2>
          <p class="clearfix"><%= link_to_signupsite('contact_us', 'Contact Us', 'btn dark-btn clearfix') %></p>
		  <br/>
		  <br/>
          <p class="large-text">Have fewer than 10 stores? <%= link_to 'View our small business plans', 'smb.html' %></p>
   		</div>
	</div>
</div>