<% content_for :pagetitle do %>Answers and insights for QSR, coffee, specialty retail, and large format stores<% end %>
<% content_for :headextra do %><%= stylesheet_link_tag 'static-home' %><% end %>

    <div class="home-wrapper">
    
      <!-- begin slide show code -->
      <div class="home-slides">
        
        <!-- slide3 -->
        <div class="home-slide-single slide-3">
        <div class="banner-content">
          <div class="headline2">Announcing Euclid Express. <br />Actionable customer insights. Now free.</div>
          <div class="sub-text1">

            The fastest way to get started with essential analytics for brick and mortar businesses. <br />
            Activation is easy, quickly providing you with industry-leading customer intelligence.

          </div>
          <div class="slide-btns">
            <%= link_to 'Learn More', '/products/express.html' %>
            <a href="http://info.euclidanalytics.com/ExpressSignUp.html" target="_blank" class="btn-blue">Sign up</a>
          </div> 
          </div>  
          <div class="side-box">
              <div class="headline2">Features</div>
              <p class="side-head">Benchmark</p>
              <p><a href="http://info.euclidanalytics.com/WC15-01USRB_Reg_RLP.html">Retail Sales Are Frostbit in January</a> </p>
              <p class="side-head">Blog</p>
              <p><a href="http://www.euclidanalyticsblog.com/2014/05/announcing-the-euclid-reseller-program.html">Announcing Our Reseller Program</a> </p>
              <p class="side-head">White Paper</p>
              <p><a href="http://info.euclidanalytics.com/WC1402TechnicalWhitepaper_RLP.html">Understand Shopper Engagement <br>in Retail Establishments</a></p>
          </div>   
        </div> 
        <!--//end slide3 -->


        <!-- slide4 -->
        <div class="home-slide-single slide-4">
        <div class="banner-content">
          <div class="headline1">New customizable dashboards and <br>enhanced reports.</div>
          <div class="sub-text1">
            Set up dashboards for your vertical and role to see critical insights at a glance. Report on select metrics, locations, and date ranges to see what matters most to your business.
          </div>
        <div class="slide-btns">
                  <a href="http://www.youtube.com/watch?v=3DEjBrC66lo" class="lightbox">View Dashboards</a>
          <a href="http://www.youtube.com/watch?v=A__99JGV5r4" class="btn-blue lightbox">View Reports</a>
<!--       <a href="http://m.youtube.com/watch?v=Bl2HyAM6uXs" class="show_on_mobile btn dark-btn">Watch the Video</a> -->
        </div>
        </div>  
          <div class="side-box">
              <div class="headline2">Features</div>
              <p class="side-head">Benchmark</p>
               <p><a href="http://info.euclidanalytics.com/WC15-01USRB_Reg_RLP.html">Retail Sales Are Frostbit in January</a> </p>
              <p class="side-head">Blog</p>
              <p><a href="http://www.euclidanalyticsblog.com/2014/05/announcing-the-euclid-reseller-program.html">Announcing Our Reseller Program</a> </p>
              <p class="side-head">White Paper</p>
              <p><a href="http://info.euclidanalytics.com/WC1402TechnicalWhitepaper_RLP.html">Understand Shopper Engagement <br>in Retail Establishments</a></p>
          </div>         
        </div>
        <!--//end slide4--> 


        <!-- slide2 -->
       <!-- <div class="home-slide-single slide-2">
        <div class="banner-content">
          <div class="headline1">Customers are more than transactions.</div>
          <div class="sub-text1">
            "I've always dreamed of analytics for brick and mortar that go beyond transaction data. The information <br>available through Euclid is helping us improve the customer experience and our bottom line."<br />
      - Jacob Jaber, CEO, Philz Coffee
          </div>
          <div class="slide-btns">
            <a href="http://www.youtube.com/watch?v=6eBeWqdYZBM" class="btn dark-btn lightbox">Watch Video</a>
          </div>  
          </div>  
          <div class="side-box">
              <div class="headline2">Features</div>
              <p class="side-head">Benchmark</p>
              <p><a href="http://info.euclidanalytics.com/WC14-04USRB_Reg_RLP.html">Shoppers Didn't Fill Their Easter <br>Baskets in April</a> </p>
              <p class="side-head">News</p>
              <p><a href="http://www.bloomberg.com/video/retail-tech-better-shopping-through-big-data-_VIjP5Z_S8CeH60zLGIyrA.html">Better Shopping Through Big Data</a> </p>
              <p class="side-head">White Paper</p>
              <p><a href="http://info.euclidanalytics.com/WC1402TechnicalWhitepaper_RLP.html">Understand Shopper Engagement <br>in Retail Establishments</a></p>
              <p class="side-head">Blog</p>
              <p><a href="http://www.euclidanalyticsblog.com/2014/05/announcing-the-euclid-reseller-program.html">Announcing Our Reseller Program</a> </p>
          </div>       
        </div> -->
        <!--//end slide2 -->
        <!-- slide1 -->
        <div class="home-slide-single slide-1">
        <div class="banner-content">
          <div class="headline1 grey">Retail Sales Are Frostbit in January</div>
          <div class="sub-text1 grey">
            Euclid captures millions of shopping sessions and billions of measurements to 
            <br>create a comprehensive monthly analysis of shopper behavior.
          </div>
          <div class="slide-btns">
            <a href="http://info.euclidanalytics.com/WC14-11USRB_Reg_RLP.html" class="btn-blue">Download</a>
          </div> 
        </div>  
          <div class="side-box">
              <div class="headline2">Features</div>
              <p class="side-head">Benchmark</p>
               <p><a href="http://info.euclidanalytics.com/WC15-01USRB_Reg_RLP.html">Retail Sales Are Frostbit in January</a> </p>
              <p class="side-head">Blog</p>
              <p><a href="http://www.euclidanalyticsblog.com/2014/05/announcing-the-euclid-reseller-program.html">Announcing Our Reseller Program</a> </p>
              <p class="side-head">White Paper</p>
              <p><a href="http://info.euclidanalytics.com/WC1402TechnicalWhitepaper_RLP.html">Understand Shopper Engagement <br>in Retail Establishments</a></p>
          </div>         
        </div>
        <!--//end slide1 -->       
      </div>
      


      <div class="home-slides-pager-wrapper">
        <div id="home-slides-pager"></div>
        <div id="home-slides-left" class="next-prev prev"><img src="img/home/slide-left_white.png" alt="img" /><img src="img/home/slide-left.png" class="hover-img" alt="img" /></div>
        <div id="home-slides-right" class="next-prev next"><img src="img/home/slide-right_white.png" alt="img" /><img src="img/home/slide-right.png" class="hover-img" alt="img" /></div>
      </div>
      <!-- //end slide show code -->
      
      <!-- 2nd row -- Answers and insights -->


      <div class="home-row2">

          <div class="phone-side-box">
              <div class="headline2">Features</div>
              <p>Benchmark</p>
              <p><a href="http://info.euclidanalytics.com/WC14-08USRB_Reg_RLP.html">Retail Achieved Straight A’s For <br>Sales Performance in August</a> </p>
              <p>News</p>
              <p><a href="http://www.bloomberg.com/video/retail-tech-better-shopping-through-big-data-_VIjP5Z_S8CeH60zLGIyrA.html">Better Shopping Through Big Data</a> </p>
              <p>White Paper</p>
              <p><a href="http://info.euclidanalytics.com/WC1402TechnicalWhitepaper_RLP.html">Understand Shopper Engagement <br>in Retail Establishments</a></p>
          </div>

        <div class="building">
          <img src="img/home/location-home.jpg" alt="img" />
        </div>
        <h1>Answers and insights for physical locations.</h1>
        
        <p>
          Euclid empowers brick and mortar operations by delivering answers and insights just like<br /> 
          the online clickstream. From measuring shopper engagement and loyalty <br /> 
		  to optimizing operations, Euclid supercharges your business potential.
        </p>
        <div class="video-button">
          <a href="http://www.youtube.com/watch?v=Bl2HyAM6uXs" class="hide_on_mobile btn dark-btn lightbox">Watch the Video</a>
          <a href="http://m.youtube.com/watch?v=Bl2HyAM6uXs" class="show_on_mobile btn dark-btn">Watch the Video</a>
        </div>
      </div>
      <!--//end 2nd row -->
      
      <!-- 3nd row -- Targeted solutions -->
      <div class="home-row3">
        <h1>Targeted solutions for specific results.</h1>
        
        <p>
          Every Euclid product is designed to deliver business-specific results.<br />  
		  Whether you have one location or a hundred, Euclid helps you better<br /> 
          understand customer behavior, improve experiences, and measure success. 
        </p>
        
        <div class="items">
        <div class="row"> 

          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <img src="../../img/solutions/solutions-retail.png" alt="img" />
            </div>            
            <h2><a href="/solutions/retail/">Retail</a></h2>            
          </div>

          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <img src="../../img/solutions/solutions-QSRCoffee.png" alt="img" />
            </div>            
            <h2><a href="/solutions/qsr">QSR and Coffee</a></h2>         
          </div>
          
          <div class="item col-sm-4 col-xs-12 col-md-4 col-lg-4">
            <div class="image">
              <img src="../../img/solutions/malls-circle.png" alt="img" />
            </div>            
            <h2><a href="/solutions/malls/">Shopping Malls</a></h2>            
          </div>
          
        </div>
        <div class="row"> 
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
                     
          </div>
         
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
            <div class="image">
              <img src="../../img/solutions/transportation-circle.png" alt="img">
            </div>            
            <h2><a href="/solutions/transportation/">Transportation</a></h2>            
          </div>
          
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
            <div class="image">
              <img src="../../img/solutions/venues-circle.png" alt="img">
            </div>            
            <h2><a href="/solutions/venues/">Event Venues</a></h2>            
          </div>
          <div class="item col-sm-3 col-xs-12 col-md-3 col-lg-3">
                     
          </div>
        </div>
        </div>

      </div>
      <!--//end 3nd row -->
            
      <!-- 4th row -- Powerful features.  -->
<!--       <div class="home-row4">
        <h1>Powerful features. Essential answers.</h1>
        
        <div class="features row">
          <div class="feature col-sm-3 col-xs-6 col-md-3 col-lg-3">
            <img src="img/home/icon/features-1.png" alt="img" />
            <span>Understand store visit patterns, duration & frequency</span>
          </div>
          
          <div class="feature col-sm-3 col-xs-6 col-md-3 col-lg-3">
            <img src="img/home/icon/features-2.png" alt="img" />
            <span>Measure marketing ROI with storefront conversion</span>
          </div>
          
          <div class="feature col-sm-3 col-xs-6 col-md-3 col-lg-3">
            <img src="img/home/icon/features-3.png" alt="img" />
            <span>Assess customer experience with engagement & bounce</span>
          </div>
          
          <div class="feature col-sm-3 col-xs-6 col-md-3 col-lg-3">
            <img src="img/home/icon/features-4.png" alt="img" />
            <span>Optimize & benchmark store performance across time</span>
          </div>
          
          <div class="feature col-sm-3 col-xs-6 col-md-3 col-lg-3">
            <img src="img/home/icon/features-5.png" alt="img" />
            <span>Build smarter customer profiles</span>
          </div>
          
          <div class="feature col-sm-3 col-xs-6 col-md-3 col-lg-3">
            <img src="img/home/icon/features-6.png" alt="img" />
            <span>Grow chain loyalty & cross-shopping</span>
          </div>
          
          <div class="feature col-sm-3 col-xs-6 col-md-3 col-lg-3">
            <img src="img/home/icon/features-7.png" alt="img" />
            <span>View full data history & export</span>
          </div>
          
          <div class="feature col-sm-3 col-xs-6 col-md-3 col-lg-3">
            <img src="img/home/icon/features-8.png" alt="img" />
            <span>Utilize advanced analytics to deepen customer insights</span>
          </div>        
        </div>
        
      </div> -->
      <!--/end 4th row -->
     
      <!-- 5th row -- add wifi.  -->
      <div class="home-row5">
        <h1>Just add Wi-Fi.</h1>
        <p>
        Euclid works securely within your network infrastructure. If you have in-store Wi-Fi<br /> 
        from one of our many vendor <a href="partners/technology">partners</a>, you can turn your existing access points into<br />
        Euclid sensors with the push of a button.
        </p>
        
        <img src="img/home/router.png" alt="img" class="router" />
        <img src="img/home/nexus.png" alt="img" class="nexus" />
      
      </div>
      <!--// 5th row  -->
      
      <!-- 5th row -- market leadership  -->
<!--       <div class="home-row6">
        <h2>Market leadership recognized by</h2>
        
        <div class="row logos-row">
          <div class="col-sm-12 col-lg-6">
            <img src="img/home/icon/logos-1.png" alt="img">
          </div>
          <div class="col-sm-12 col-lg-6">
            <img src="img/home/icon/logos-2.png" alt="img">
          </div>
        </div>
      
      </div> -->
      <!--// 6th row  -->

    </div>



		<%= javascript_include_tag 'vendor/cycle.js' %>
    <script>
    	$(document).ready( function() {
				$('.home-slides').cycle({ pager: '#home-slides-pager', prev: '#home-slides-left', next: '#home-slides-right', speed:   1000, pause: 1, timeout: 8000  });
				
				$('.home-slides-pager-wrapper .next-prev').mouseover( function() {  $(this).addClass('hover'); });
				$('.home-slides-pager-wrapper .next-prev').mouseout( function() {  $(this).removeClass('hover'); });
				$('#home-slides-pager, .home-slides-pager-wrapper .next-prev').click( function() { $('.home-slides').cycle('pause'); });
			});
    </script>









<!--
<div id="banner-home-holder" class="banner-holder">
	<div class="content featured-content-light banner banner-next" id="banner-home-next"></div>
	<div class="content featured-content-light banner banner-cur" id="banner-home-cur"></div>
</div>
<div class="content featured-content-light banner banner-content" id="banner-home">
  	<div class="container">
	  	<div id="homepage-product-img" class="col6 merge-down under-right">
			
	  	</div>
	  	<div class="subcontainer6 featured-content-textarea pull-right">
	  		<div class="featured-content-textarea-inner">
			  		<h1>Answers and insights</h1>
			  		<p class="large-text">For QSR and coffee, specialty retail, and large format stores</h1>
						<ul class="circle">
							<li>Traffic counts, capture and bounce rates</li>
							<li>Store visit frequency, duration, loyalty</li>
							<li>Dayparts for QSR and coffee, window conversion for specialty retail, unlimited zones for large format stores</li>
						</ul>
					<p class="clearfix pad-bottom"><a href="http://www.youtube.com/watch?v=IzTKFis4r24" title="Real-world retail analytics" data-height="500" class="btn arrow-btn dark-btn lightbox">Watch Video</a></p>
					<ul class="icon-button-list clear-fix no-top-marg pad-bottom" id="home-button-list">
						<li><%= link_to 'Actionable Insights', '/product/index.html', :id=>'home-solutionsbtn' %></li>
						<li><%= link_to 'Easy Setup', '/product/technology.html', :id=>'home-setupbtn' %></li>
						<li><%= link_to 'Privacy Friendly', '/privacy/index.html', :id=>'home-privacybtn' %></li>
					</ul>
				</div>
	  	</div>
	</div>
</div>
<div class="content  featured-content-light light-underlined no-bottom-marg">
	<div id="easy-wires" class="hide-on-mobile">
		<%= image_tag 'IT_head.png' %>
		<div id="easy-wires-cord"></div>
	</div>
  	<div class="container">
	  	<div class="col5 pull-right featured-content-textarea"><div class="featured-content-textarea-inner">
	  		<h1>Deploy in minutes,<br/>get answers ASAP</h1>
	  		<p>Use your existing Wi-Fi infrastructure or our plug-and-play sensor. Foot-traffic data and all Euclid analytics will live in an online dashboard. Download your data at any time to work in your BI environment of choice.</p>
	  		<%= link_to 'Learn More', '/product/technology.html', :class=>"btn arrow-btn dark-btn" %>
	  	</div></div>
	</div>
</div>
<div class="content featured-content-grad no-pad no-border" id="banner-homeprivacy">
  	<div class="container">
	  	<div class="col5 light-text content">
	  		<h1>Privacy matters</h1>
	  		<p>Privacy is designed into our service.<br/>Foot-traffic data are 100% anonymous: <br/> no personal information is ever gathered. <br/>Any consumer can opt out.  </p>
	  		<%= link_to 'Learn More', '/privacy/index.html', :class=>"btn arrow-btn dark-btn" %>
	  	</div>
	  	<div class="col7 mini-bump-left hide-on-mobile"><%= image_tag 'privacy_home.jpg', :height=>'350' %></div>
	</div>
</div>
	</div>
</div>

<img class="preload" data-pathtoimg="img/banners/solutions-marketing.jpg" src="" />
<img class="preload" data-pathtoimg="img/privacy_privacy.png" src="" />
-->
