<% content_for :pagetitle do %>Answers and insights for QSR, specialty retail, and department stores<% end %>
<div class="content featured-content-light banner" id="banner-home">
  	<div class="container">
	  	<div id="homepage-product-img" class="col6 merge-down under-right">
			<%= image_tag 'product.png' %>
	  	</div>
	  	<div class="subcontainer6 featured-content-textarea pull-right">
	  		<div class="featured-content-textarea-inner">
			  		<h1 class="">Euclid Analytics</h1>
			  		<p class="large-text">Answers and insights for QSR, specialty retail, department stores</h1>
						<ul class="circle">
							<li>Traffic counts, capture and bounce rates</li>
							<li>Store visit frequency, duration, loyalty</li>
							<li>Advanced analytics tailored for QSR, specialty retail, department stores</li>
						</ul>
					<p class="clearfix pad-bottom"><%=link_to_signupsite('pricing', 'Explore Solutions', "btn arrow-btn dark-btn") %></p>
					<ul class="icon-button-list clear-fix no-top-marg pad-bottom" id="home-button-list">
						<li><%= link_to 'Actionable Insights', '/product/solutions.html', :id=>'home-solutionsbtn' %></li>
						<li><%= link_to 'Easy Setup', '/product/how.html', :id=>'home-setupbtn' %></li>
						<li><%= link_to 'Privacy Friendly', '/privacy/index.html', :id=>'home-privacybtn' %></li>
					</ul>
				</div>
	  	</div>
	</div>
</div>
<div class="content  featured-content-light light-underlined no-bottom-marg">
	<div id="easy-wires" class="hide-on-mobile">
		<%= image_tag 'IT_head.png' %>
		<div id="easy-wires-cord"></div>
	</div>
  	<div class="container">
	  	<div class="col5 pull-right featured-content-textarea"><div class="featured-content-textarea-inner">
	  		<h1 class="">Deploy in minutes.<br>Get answers immediately.</h1>
	  		<p class="">Use your existing Wi-Fi infrastructure<br>or our plug-and-play sensor.</p>
	  		<%= link_to 'Learn More', '/product/how.html', :class=>"btn arrow-btn dark-btn" %>
	  	</div></div>
	</div>
</div>
<div class="content featured-content-grad no-pad no-border">
  	<div class="container">
	  	<div class="col5 light-text content">
	  		<h1>Privacy matters</h1>
	  		<p>Privacy is designed into our service.<br>Foot-traffic data are 100% anonymous: <br> no personal information is ever gathered. <br>Any consumer can opt out.  </p>
	  		<%= link_to 'Learn More', '/privacy/index.html', :class=>"btn arrow-btn dark-btn" %>
	  	</div>
	  	<div class="col7 mini-bump-left hide-on-mobile"><%= image_tag 'privacy_home.jpg', :height=>'350' %></div>
	</div>
</div>
	</div>
</div>

<img class="preload" data-pathtoimg="img/banners/solutions-marketing.jpg" src="" />
<img class="preload" data-pathtoimg="img/privacy_privacy.png" src="" />
