
<div class="content featured-content-light">
  	<div class="container">
	  	<div class="col7 merge-down">
			<%= image_tag 'product.png' %>
	  	</div>
	  	<div class="col5">
	  		<h1 class="">Google Analytics for the physical world</h1>
	  		<p>Euclid Analytics delivers actionable insights into real-world shopper behavior. Measure and optimize customer traffic, loyalty, and engagement.</p>
	  		<a href="" class="btn arrow-btn dark-btn">Learn More</a>
	  	</div>
	</div>
</div>
<div class="content featured-content-light">
  	<div class="container">
	  	<div class="col5 merge-down-follower">
	  		<h1 class="">Answer the toughest retail challenges</h1>
	  		<p class="">Euclid Analytics delivers actionable insights into real-world shopper behavior. Measure and optimize customer traffic, loyalty, and engagement.</p>
	  		<%= link_to 'See our Solutions', '/product/solutions.html', :class=>"btn arrow-btn dark-btn" %>
	  	</div>
	  	<div class="col7 bump-up">
			<%= image_tag 'solutions.png' %>
	  	</div>
	</div>
</div>
<div class="content featured-content-grad no-pad">
  	<div class="container">
	  	<div class="col7 bump-left"><%= image_tag 'privacy.png' %></div>
	  	<div class="col5 light-text content">
	  		<h1>Your privacy matters</h1>
	  		<p>Euclid Analytics delivers actionable insights into real-world shopper behavior.</p>
	  		<%= link_to 'Learn More', '/privacy/index.html', :class=>"btn arrow-btn dark-btn" %>
	  	</div>
	</div>
</div>

<div class="content featured-content-light">
	<div id="easy-wires">
		<%= image_tag 'IT_head.png' %>
		<div id="easy-wires-cord"></div>
	</div>
  	<div class="container">
	  	<div class="col5">
	  		<h1 class="">Easy as 1, 2, go!</h1>
	  		<p class="">Euclid Analytics delivers actionable insights into real-world shopper behavior. Measure and optimize. </p>
	  		<%= link_to 'Learn More', '/product/how.html', :class=>"btn arrow-btn dark-btn" %>
	  	</div>
	</div>
</div>

<div class="content featured-content-grad">
  	<div class="container">
	  	<div class="col12 large-text centered-text">
	  		Let's Talk! Meet us at NRF 2012.
	  	</div>
	</div>
</div>
