
<div class="content featured-content-light banner" id="banner-home">
  	<div class="container">
	  	<div id="homepage-product-img" class="col6 merge-down under-right">
			<%= image_tag 'product.png' %>
	  	</div>
	  	<div class="subcontainer6 featured-content-textarea pull-right">
	  		<div class="featured-content-textarea-inner">
		  		<h1 class="">Google Analytics <br>for the physical world</h1>
				<ul class="icon-button-list" id="home-button-list">
					<li><%= link_to 'Actionable Insights', '/product/solutions.html', :id=>'home-solutionsbtn' %></li>
					<li><%= link_to 'Easy Setup', '/product/how.html', :id=>'home-setupbtn' %></li>
					<li><%= link_to 'Privacy Friendly', '/privacy/index.html', :id=>'home-privacybtn' %></li>
				</ul>
			</div>
	  	</div>
	</div>
</div>
<div class="content underlined light-underlined no-bottom-marg">
  	<div class="container">
	  	<div class="col5 featured-content-textarea under-right">
	  		<h1 class="">Answer the toughest retail challenges</h1>
	  		<p class="">Euclid Analytics delivers actionable insights into real-world shopper behavior. Measure and optimize customer traffic, loyalty, and engagement.</p>
	  		<%= link_to 'See our Solutions', '/product/solutions.html', :class=>"btn arrow-btn dark-btn" %>
	  	</div>
	  	<div class="col7 pull-right hide-on-mobile">
			<%= image_tag 'solutions.png' %>
	  	</div>
	</div>
</div>

<div class="content  featured-content-light light-underlined no-bottom-marg">
	<div id="easy-wires" class="hide-on-mobile">
		<%= image_tag 'IT_head.png' %>
		<div id="easy-wires-cord"></div>
	</div>
  	<div class="container">
	  	<div class="col5 pull-right featured-content-textarea"><div class="featured-content-textarea-inner">
	  		<h1 class="">Easy as 1, 2, go!</h1>
	  		<p class="">Euclid Analytics delivers actionable insights into real-world shopper behavior. Measure and optimize. </p>
	  		<%= link_to 'Learn More', '/product/how.html', :class=>"btn arrow-btn dark-btn" %>
	  	</div></div>
	</div>
</div>
<div class="content featured-content-grad no-pad">
  	<div class="container">
	  	<div class="col5 light-text content">
	  		<h1>Your privacy matters</h1>
	  		<p>Euclid Analytics delivers actionable insights into real-world shopper behavior.</p>
	  		<%= link_to 'Learn More', '/privacy/index.html', :class=>"btn arrow-btn dark-btn" %>
	  	</div>
	  	<div class="col7 bump-right hide-on-mobile"><%= image_tag 'privacy.png', :height=>'350' %></div>
	</div>
</div>

<div class="content featured-content-dark">
  	<div class="container">
	  	<div id="nrftext" class="col12 large-text centered-text">
	  		Let's Talk! Meet us at NRF 2012.
	  	</div>
	</div>
</div>
